In [4]:
import numpy as np
import pandas as pd

In [5]:
stock_price_DF_withIndex=pd.DataFrame([10000,10300,9900,10500,11000], 
                                      index=["2019-04-01","2019-04-02","2019-04-03","2019-04-04","2019-04-05"])
stock_price_DF_withIndex

                0
2019-04-01  10000
2019-04-02  10300
2019-04-03   9900
2019-04-04  10500
2019-04-05  11000

In [6]:
stock_price_DF_withIndex.rename(columns={0:"시가"},inplace=True)
stock_price_DF_withIndex["종가"]=[11000,10200,9500,8000,11000]
stock_price_DF_withIndex["고가"]=[13000,15000,11000,10500,10200]
stock_price_DF_withIndex["저가"]=[9900,8000,9700,10000,9400]
stock_price_DF_withIndex

               시가     종가     고가     저가
2019-04-01  10000  11000  13000   9900
2019-04-02  10300  10200  15000   8000
2019-04-03   9900   9500  11000   9700
2019-04-04  10500   8000  10500  10000
2019-04-05  11000  11000  10200   9400

In [7]:
print(stock_price_DF_withIndex)
print("-----------------------")
print(stock_price_DF_withIndex.sort_index(axis=0,ascending=True))
print(stock_price_DF_withIndex.sort_index(axis=1,ascending=True))

               시가     종가     고가     저가
2019-04-01  10000  11000  13000   9900
2019-04-02  10300  10200  15000   8000
2019-04-03   9900   9500  11000   9700
2019-04-04  10500   8000  10500  10000
2019-04-05  11000  11000  10200   9400
-----------------------
               시가     종가     고가     저가
2019-04-01  10000  11000  13000   9900
2019-04-02  10300  10200  15000   8000
2019-04-03   9900   9500  11000   9700
2019-04-04  10500   8000  10500  10000
2019-04-05  11000  11000  10200   9400
               고가     시가     저가     종가
2019-04-01  13000  10000   9900  11000
2019-04-02  15000  10300   8000  10200
2019-04-03  11000   9900   9700   9500
2019-04-04  10500  10500  10000   8000
2019-04-05  10200  11000   9400  11000

#### 정렬할 때에, 가로/세로 이름이 아니라 "값"을 중심으로 정렬하고 싶을 때

In [8]:
# 정렬 순위 : sort_value
print(stock_price_DF_withIndex.sort_values(by="고가"))
print(stock_price_DF_withIndex.sort_values(by="고가",ascending=False))
print(stock_price_DF_withIndex.sort_values(by="고가",ascending=True))

# 여러 컬럼에 적용
print(stock_price_DF_withIndex.sort_values(by=["종가","고가"],ascending=True)) # 종가를 기준으로 먼저 정렬하고 고가 정렬

               시가     종가     고가     저가
2019-04-05  11000  11000  10200   9400
2019-04-04  10500   8000  10500  10000
2019-04-03   9900   9500  11000   9700
2019-04-01  10000  11000  13000   9900
2019-04-02  10300  10200  15000   8000
               시가     종가     고가     저가
2019-04-02  10300  10200  15000   8000
2019-04-01  10000  11000  13000   9900
2019-04-03   9900   9500  11000   9700
2019-04-04  10500   8000  10500  10000
2019-04-05  11000  11000  10200   9400
               시가     종가     고가     저가
2019-04-05  11000  11000  10200   9400
2019-04-04  10500   8000  10500  10000
2019-04-03   9900   9500  11000   9700
2019-04-01  10000  11000  13000   9900
2019-04-02  10300  10200  15000   8000
               시가     종가     고가     저가
2019-04-04  10500   8000  10500  10000
2019-04-03   9900   9500  11000   9700
2019-04-02  10300  10200  15000   8000
2019-04-05  11000  11000  10200   9400
2019-04-01  10000  11000  13000   9900

##### 인덱스가 유일한지 확인

In [9]:
stock_price_DF_withIndex.index.is_unique

True

In [10]:
# 자료가 중복되는지 확인
stock_price_DF_withIndex.loc["2019-04-01"]

시가    10000
종가    11000
고가    13000
저가     9900
Name: 2019-04-01, dtype: int64

In [11]:
stock_price_DF_withIndex=pd.DataFrame([10000,10300,9900,10500,11000], 
                                      index=["2019-04-01","2019-04-02","2019-04-03","2019-04-04","2019-04-05"])
stock_price_DF_withIndex.rename(columns={0:"시가"},inplace=True)
stock_price_DF_withIndex["종가"]=[11000,10200,9500,8000,11000]
stock_price_DF_withIndex["고가"]=[13000,15000,11000,10500,10200]
stock_price_DF_withIndex["저가"]=[9900,8000,9700,10000,9400]
stock_price_DF_withIndex

               시가     종가     고가     저가
2019-04-01  10000  11000  13000   9900
2019-04-02  10300  10200  15000   8000
2019-04-03   9900   9500  11000   9700
2019-04-04  10500   8000  10500  10000
2019-04-05  11000  11000  10200   9400

In [12]:
# 날짜별로 고가와 저가의 차이 구하기
# lambda 와 apply 이용
stock_price_DF_withIndex.apply(lambda x : x.max()-x.min(), axis=1)

2019-04-01    3100
2019-04-02    7000
2019-04-03    1500
2019-04-04    2500
2019-04-05    1600
dtype: int64

#### 기준을 가로/세로 등으로 해보기 & 값들을 더하거나 곱하는 것들로 일괄 변경

In [13]:
# 여러가지 적용한 결과 살펴보기 : 하나씩 다 처리
print(stock_price_DF_withIndex.apply(lambda x : x.max()-x.min(), axis=0))
print(stock_price_DF_withIndex.apply(lambda x : x.max()-x.min(), axis=1))
print(stock_price_DF_withIndex.applymap(lambda x : x+1))
print(stock_price_DF_withIndex.applymap(lambda x : x*10))

시가    1100
종가    3000
고가    4800
저가    2000
dtype: int64
2019-04-01    3100
2019-04-02    7000
2019-04-03    1500
2019-04-04    2500
2019-04-05    1600
dtype: int64
               시가     종가     고가     저가
2019-04-01  10001  11001  13001   9901
2019-04-02  10301  10201  15001   8001
2019-04-03   9901   9501  11001   9701
2019-04-04  10501   8001  10501  10001
2019-04-05  11001  11001  10201   9401
                시가      종가      고가      저가
2019-04-01  100000  110000  130000   99000
2019-04-02  103000  102000  150000   80000
2019-04-03   99000   95000  110000   97000
2019-04-04  105000   80000  105000  100000
2019-04-05  110000  110000  102000   94000

##### 위와 같은 데이터를 가지고 stock_price_DF_withIndex에서 "Gap"이라는 컬럼을 생성하고 이 컬럼에서는 시가/종가/고가/저가 중에서 가장 큰 값과 가장 작은 값의 차이를 기록하는 컬럼을 생성

In [14]:
stock_price_DF_withIndex["Gap"]=stock_price_DF_withIndex.apply(lambda x : x.max()-x.min(), axis=1)
stock_price_DF_withIndex

               시가     종가     고가     저가   Gap
2019-04-01  10000  11000  13000   9900  3100
2019-04-02  10300  10200  15000   8000  7000
2019-04-03   9900   9500  11000   9700  1500
2019-04-04  10500   8000  10500  10000  2500
2019-04-05  11000  11000  10200   9400  1600

In [15]:
stock_price_DF_withIndex.iloc[0,0:4]

시가    10000
종가    11000
고가    13000
저가     9900
Name: 2019-04-01, dtype: int64

In [16]:
stock_price_DF_withIndex["Gap_forloop"]=0
labels=["Gap_forloop"]
index_ints=[stock_price_DF_withIndex.columns.get_loc(label) for label in labels]

for i in range(0,len(stock_price_DF_withIndex)):
    temp=stock_price_DF_withIndex.iloc[i,0:4].max()-stock_price_DF_withIndex.iloc[i,0:4].min()
    stock_price_DF_withIndex.iloc[i,index_ints[0]]=temp
stock_price_DF_withIndex

               시가     종가     고가     저가   Gap  Gap_forloop
2019-04-01  10000  11000  13000   9900  3100         3100
2019-04-02  10300  10200  15000   8000  7000         7000
2019-04-03   9900   9500  11000   9700  1500         1500
2019-04-04  10500   8000  10500  10000  2500         2500
2019-04-05  11000  11000  10200   9400  1600         1600

##### 위의 데이터에서 "시가","종가","고가","저가"의 4월 1일부터 5일까지의 평균 구하기

In [27]:
# 1) numpy mean 이용
stock_price_DF_withIndex[["시가","종가","고가","저가"]].apply(lambda x : np.mean(x), axis=1)

2019-04-01    10975.0
2019-04-02    10875.0
2019-04-03    10025.0
2019-04-04     9750.0
2019-04-05    10400.0
dtype: float64

In [28]:
# 2) pandas Series 이용
stock_price_DF_withIndex[["시가","종가","고가","저가"]].apply(lambda x : x.mean(), axis=1)

2019-04-01    10975.0
2019-04-02    10875.0
2019-04-03    10025.0
2019-04-04     9750.0
2019-04-05    10400.0
dtype: float64

##### 일자별 시가/종가/고가/저가 평균 구하기

In [29]:
stock_price_DF_withIndex[["시가","종가","고가","저가"]].apply(lambda x : x.mean(), axis=0)

시가    10340.0
종가     9940.0
고가    11940.0
저가     9400.0
dtype: float64

In [31]:
### Data Cleaning
from numpy import nan as NA
import pandas as pd
data = pd.DataFrame([[1,6.5,3],[1,NA,NA],[NA,NA,NA],[NA,6.5,3]])
cleanded=data.dropna()

In [32]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [33]:
cleanded

     0    1    2
0  1.0  6.5  3.0

In [35]:
data.dropna(axis=0) # axis=1 은 열 기준으로 na가 잇으면 열 제거

     0    1    2
0  1.0  6.5  3.0

In [36]:
data.dropna(how="all", axis=0) # axis=0이므로 가로 중심으로 제거하는데 na가 모두 들어잇어야만 제거

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [37]:
data.dropna(how="all", axis=1) # 열 기준으로 모두 na인 열이 없기 때문에 제거되는 열이 없다

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [38]:
from numpy import nan as na
df=pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1]=na
df.iloc[:2,2]=na
df

          0         1         2
0  1.681943       NaN       NaN
1  1.049261       NaN       NaN
2 -0.193933       NaN  1.023860
3 -2.305141       NaN -1.584813
4 -0.396816 -0.492483  0.069426
5  0.081035 -1.122145 -0.820896
6  0.230649 -2.133164  0.837371

In [40]:
df.dropna(thresh=2) # axis=0이므로 가로줄 기준으로 최소한 2개 이상의 값을 가져야한다

          0         1         2
2 -0.193933       NaN  1.023860
3 -2.305141       NaN -1.584813
4 -0.396816 -0.492483  0.069426
5  0.081035 -1.122145 -0.820896
6  0.230649 -2.133164  0.837371

In [41]:
# 1컬럼은 9999로, 3컬럼은 -9999로 처리
# 그런데 3컬럼은 없으니 에러 및 경고 없이 처리가 됨에 유의!
df.fillna({1:9999,3:-9999})

          0            1         2
0  1.681943  9999.000000       NaN
1  1.049261  9999.000000       NaN
2 -0.193933  9999.000000  1.023860
3 -2.305141  9999.000000 -1.584813
4 -0.396816    -0.492483  0.069426
5  0.081035    -1.122145 -0.820896
6  0.230649    -2.133164  0.837371

## csv 파일 불러오기

In [46]:
testCSV_path="/Users/acorn/Downloads/0_data/0_data/sampledata_20200102/sampledata/01_olive.csv"
olive_oil=pd.read_csv(testCSV_path)
olive_oil.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

In [47]:
olive_oil=pd.read_csv(testCSV_path, names=["a","b","c","d"])
olive_oil.head()

,,,,,,,a,b,c,d
NaN,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
4.North-Apulia,1,1,966,57,240,7952,619,50,78,35

In [48]:
olive_oil=pd.read_csv(testCSV_path, skiprows=1)
olive_oil.head()

   1.North-Apulia  1  1.1  1075  75  226  7823  672  36  60  29
0  2.North-Apulia  1    1  1088  73  224  7709  781  31  61  29
1  3.North-Apulia  1    1   911  54  246  8113  549  31  63  29
2  4.North-Apulia  1    1   966  57  240  7952  619  50  78  35
3  5.North-Apulia  1    1  1051  67  259  7771  672  50  80  46
4  6.North-Apulia  1    1   911  49  268  7924  678  51  70  44

In [50]:
olive_oil=pd.read_csv(testCSV_path)
olive_oil.head(3)

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29

In [56]:
# 컬럼 이름 변경
# rename 경우에는 문제점이 있을 수 있다.
olive_oil.rename(columns={"Unnamed:0":"id_area"}, inplace=True) 
olive_oil.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

In [59]:
olive_oil.rename(columns={olive_oil.columns[0]:"id_area"}, inplace=True)
olive_oil.head()

,id_area,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

In [68]:
# 주어진 데이터의 id로 활용할 컬럼의 값이 유니크한지 확인 -> 제일 중요!
# python은 중복 인덱스가 가능하기 때문이다
len(olive_oil["id_area"].unique())
olive_oil.shape[0]
len(olive_oil["id_area"].unique())==olive_oil.shape[0]

True

In [73]:
str(int(olive_oil["id_area"][0].split(".")[0])-1)+"."+olive_oil["id_area"][0].split(".")[1]

'0.North-Apulia'

In [80]:
str(int(olive_oil["id_area"][1].split(".")[0])-1)+"."+olive_oil["id_area"][1].split(".")[1]

'1.North-Apulia'

In [96]:
# 줄 단위로 규칙을 가지고 있으면 forloop대신에 그냥 lambda 함수를 이용해도됨
olive_oil["id_area"].apply(lambda x : str(int(x.split(".")[0])-1)+"."+x.split(".")[1])
# olive_oil["id_area"][0] => x로 처리

0        0.North-Apulia
1        1.North-Apulia
2        2.North-Apulia
3        3.North-Apulia
4        4.North-Apulia
             ...
567    567.West-Liguria
568    568.West-Liguria
569    569.West-Liguria
570    570.West-Liguria
571    571.West-Liguria
Name: id_area, Length: 572, dtype: object

##### palmitoleic 칼럼 값을 100으로 나누어서 소수로 표시하시오. apply/lambda 사용

In [98]:
olive_oil["palmitoleic"].apply(lambda x :x/100)

0      0.75
1      0.73
2      0.54
3      0.57
4      0.67
       ...
567    1.10
568    1.00
569    0.90
570    1.20
571    0.80
Name: palmitoleic, Length: 572, dtype: float64

In [99]:
# 처리한 파일을 외부 파일로 출력하기
olive_oil.to_csv("olive2.csv")

In [102]:
testCSV_path="/Users/acorn/Desktop/python/olive2.csv"
olive2=pd.read_csv(testCSV_path)
olive2.head()

,Unnamed: 0,id_area,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

In [ ]:
# 구분자 지정이 필요할 듯
# 02) 파일의 구분자를 지정해서 읽어보기
sur_comma=pd.read_csv(commaPath)
sur_at=pd.read_csv(atPath,sep="@")
sur_at.head(3)

In [103]:
# 동일한 형식의 여러 파일을 일괄적으로 읽어보자
# 준비 :  06_many_files안에 여러 csv 파일이 있는지 확인 & 해당 규칙을 만들어보자 & 경로 확인
# 위의 작업을 하기 위해서는 몇 가지 사항을 확인해야함

In [104]:
# Excel 파일 읽고 쓰기
# 01) 엑셀 파일 읽기
import pandas as pd
excelInPath="/Users/acorn/Downloads/0_data/0_data/sampledata_20200102/sampledata/07_surveys_excelformat.xls"

excel_data=pd.read_excel(excelInPath, sheet_name="Sheet1")
excel_data.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [109]:
# 01) 엑셀 파일 출력하기 -> to_excel로 하기
#xlsx format
excelOutPath="/Users/acorn/Downloads/0_data/0_data/sampledata_20200102/sampledata/11_sales-funnel_output.xlsx"
excel_data.to_excel(excelOutPath)

# xls format
excelOutPath="/Users/acorn/Downloads/0_data/0_data/sampledata_20200102/sampledata/07_surveys_excelformat_output.xls"
excel_data.to_excel(excelOutPath)

In [110]:
######## JSON #########
# 00) JSON Init/Packages import
import pandas as pd
import json

In [114]:
# 01) json 만들기
json_data1="""{
    "color":"red",
    "value":"#f00"
}"""

result=json.loads(json_data1)
print(result)

{'color': 'red', 'value': '#f00'}

In [115]:
result["value"]

'#f00'

In [117]:
# 02) json data 2
json_data2 = """{
    "id": "0001",
    "type": "donut",
    "name": "Cake",
    "ppu": 0.55,
    "batters":{
            "batter": [
                            { "id": "1001", "type": "Regular" },
                            { "id": "1002", "type": "Chocolate" },
                            { "id": "1003", "type": "Blueberry" },
                            { "id": "1004", "type": "Devil's Food" }
                            ]
                        },
    "topping":
        [
            { "id": "5001", "type": "None" },
            { "id": "5002", "type": "Glazed" },
            { "id": "5005", "type": "Sugar" },
            { "id": "5007", "type": "Powdered Sugar" },
            { "id": "5006", "type": "Chocolate with Sprinkles" },
            { "id": "5003", "type": "Chocolate" },
            { "id": "5004", "type": "Maple" }
]
}"""
result = json.loads(json_data2)
print(result)

{'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}

In [120]:
result["topping"][2]["type"]

'Sugar'

In [126]:
# batter 2번째 id의 값 출력 / topping의 2번째 데이터 출력
print(result["batters"]["batter"][1]["id"])
print(result["topping"][1])

1002
{'id': '5002', 'type': 'Glazed'}

### KOBIS 실습

In [90]:
# 01) packages
import pandas as pd
import urllib.request
import json

In [121]:
movieIdListURL="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json?key=197f1b2da465d0cf912299543d94f92f&openStartDt=2020&itemPerPage=40"
movieIdPage=urllib.request.urlopen(movieIdListURL)

movieIdData=json.loads(movieIdPage.read().decode('utf8'),encoding='utf-8')
movieIdData

{'movieListResult': {'totCnt': 88,
  'source': '영화진흥위원회',
  'movieList': [{'movieCd': '20192987',
    'movieNm': '스파이즈 ',
    'movieNmEn': 'Spycies',
    'prdtYear': '2019',
    'openDt': '20200115',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '프랑스',
    'genreAlt': '애니메이션',
    'repNationNm': '프랑스',
    'repGenreNm': '애니메이션',
    'directors': [{'peopleNm': '기욤 이베르넬'}],
    'companys': []},
   {'movieCd': '20192988',
    'movieNm': '슈퍼 베어 ',
    'movieNmEn': 'Super Bear',
    'prdtYear': '2019',
    'openDt': '20200115',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '미국',
    'genreAlt': '액션,어드벤처,애니메이션',
    'repNationNm': '미국',
    'repGenreNm': '액션',
    'directors': [],
    'companys': []},
   {'movieCd': '20188421',
    'movieNm': '미스터 주: 사라진 VIP',
    'movieNmEn': 'MR. ZOO: THE MISSING VIP',
    'prdtYear': '2018',
    'openDt': '20200122',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '한국',
    'genreAlt': '코미디,드라마',
    'repNationNm': '한국',
    'repGenreNm': '코미디',
    'directors': [{'peopleNm': '김태윤'}],
    'companys': [{'companyCd': '20141613', 'companyNm': '리양필름(주)'}]},
   {'movieCd': '20192300',
    'movieNm': '스파이 지니어스 ',
    'movieNmEn': 'Spies in Disguise',
    'prdtYear': '2019',
    'openDt': '20200122',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '미국',
    'genreAlt': '애니메이션,액션,코미디,가족,SF',
    'repNationNm': '미국',
    'repGenreNm': '애니메이션',
    'directors': [{'peopleNm': '닉 브루노'}, {'peopleNm': '트로이 콴'}],
    'companys': []},
   {'movieCd': '20204340',
    'movieNm': '시원찮은 그녀를 위한 육성방법 피날레',
    'movieNmEn': 'Saekano the Movie: Finale',
    'prdtYear': '2019',
    'openDt': '20200227',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '일본',
    'genreAlt': '애니메이션,드라마',
    'repNationNm': '일본',
    'repGenreNm': '애니메이션',
    'directors': [],
    'companys': []},
   {'movieCd': '20199117',
    'movieNm': '트레져 헌터: 비밀의 책',
    'movieNmEn': 'TOMB GUARDIANS II : THE SEA OF DEATH',
    'prdtYear': '2018',
    'openDt': '20200114',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '중국',
    'genreAlt': '멜로/로맨스',
    'repNationNm': '중국',
    'repGenreNm': '멜로/로맨스',
    'directors': [],
    'companys': []},
   {'movieCd': '20204056',
    'movieNm': '유부녀 여상사와 출장',
    'movieNmEn': 'Woman’s instinct',
    'prdtYear': '2019',
    'openDt': '20200114',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '일본',
    'genreAlt': '드라마,성인물(에로)',
    'repNationNm': '일본',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '오자키 히로코우지'}],
    'companys': []},
   {'movieCd': '20204088',
    'movieNm': '나를 유혹한 여친의 친구',
    'movieNmEn': 'Pure love score of 3 days',
    'prdtYear': '2019',
    'openDt': '20200114',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '일본',
    'genreAlt': '드라마,성인물(에로)',
    'repNationNm': '일본',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '오자키 히로코우지'}],
    'companys': []},
   {'movieCd': '20204091',
    'movieNm': '젊은 장모: 여친의 엄마',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200113',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '이재금'}],
    'companys': []},
   {'movieCd': '20193479',
    'movieNm': '개인교습: 사촌여동생',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200113',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '강정훈'}],
    'companys': []},
   {'movieCd': '20190009',
    'movieNm': '카잔자키스',
    'movieNmEn': 'Kazantzakis',
    'prdtYear': '2018',
    'openDt': '20200130',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '기타',
    'genreAlt': '드라마',
    'repNationNm': '기타',
    'repGenreNm': '드라마',
    'directors': [],
    'companys': []},
   {'movieCd': '20183002',
    'movieNm': '해치지않아',
    'movieNmEn': 'SECRET ZOO',
    'prdtYear': '2019',
    'openDt': '20200115',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '코미디',
    'repNationNm': '한국',
    'repGenreNm': '코미디',
    'directors': [{'peopleNm': '손재곤'}],
    'companys': [{'companyCd': '20100807', 'companyNm': '(주)디씨지플러스'},
     {'companyCd': '20140742', 'companyNm': '(주)어바웃필름'}]},
   {'movieCd': '20192101',
    'movieNm': '히트맨',
    'movieNmEn': 'HITMAN: AGENT JUN',
    'prdtYear': '2019',
    'openDt': '20200122',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '한국',
    'genreAlt': '코미디,액션',
    'repNationNm': '한국',
    'repGenreNm': '코미디',
    'directors': [{'peopleNm': '최원섭'}],
    'companys': [{'companyCd': '20141868', 'companyNm': '베리굿스튜디오(주)'}]},
   {'movieCd': '20180939',
    'movieNm': '남산의 부장들',
    'movieNmEn': 'The Man Standing Next',
    'prdtYear': '2019',
    'openDt': '20200122',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '한국',
    'genreAlt': '드라마',
    'repNationNm': '한국',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '우민호'}],
    'companys': [{'companyCd': '2016841', 'companyNm': '(주)하이브미디어코프'}]},
   {'movieCd': '20196674',
    'movieNm': '갱',
    'movieNmEn': 'GANG',
    'prdtYear': '2019',
    'openDt': '20200116',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '한국',
    'genreAlt': '액션',
    'repNationNm': '한국',
    'repGenreNm': '액션',
    'directors': [{'peopleNm': '조바른'}],
    'companys': [{'companyCd': '20138275', 'companyNm': '(주)스토리풀'},
     {'companyCd': '20169329', 'companyNm': '(주)컨텐츠 빌리지'},
     {'companyCd': '20157193', 'companyNm': '(주)모그픽쳐스'}]},
   {'movieCd': '20192604',
    'movieNm': '오즈의 마법사: 요술구두와 말하는 책',
    'movieNmEn': 'Fantastic Return to OZ',
    'prdtYear': '2019',
    'openDt': '20200122',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '러시아',
    'genreAlt': '애니메이션,코미디,가족',
    'repNationNm': '러시아',
    'repGenreNm': '애니메이션',
    'directors': [],
    'companys': []},
   {'movieCd': '20193478',
    'movieNm': '브라 이야기',
    'movieNmEn': 'The Bra',
    'prdtYear': '2018',
    'openDt': '20200116',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '독일',
    'genreAlt': '드라마,코미디',
    'repNationNm': '독일',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '바이트 헬머'}],
    'companys': []},
   {'movieCd': '20192240',
    'movieNm': '작은 아씨들',
    'movieNmEn': 'Little Women',
    'prdtYear': '2019',
    'openDt': '20200212',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '미국',
    'genreAlt': '드라마,멜로/로맨스',
    'repNationNm': '미국',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '그레타 거윅'}],
    'companys': []},
   {'movieCd': '20191682',
    'movieNm': '몽마르트 파파',
    'movieNmEn': 'Montmartre de Papa',
    'prdtYear': '2019',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '다큐멘터리',
    'repNationNm': '한국',
    'repGenreNm': '다큐멘터리',
    'directors': [{'peopleNm': '민병우'}],
    'companys': [{'companyCd': '20138795', 'companyNm': '웃음을 주는 영화'},
     {'companyCd': '20189261', 'companyNm': '(주)해밀픽쳐스'}]},
   {'movieCd': '20194975',
    'movieNm': '소녀가 소녀에게',
    'movieNmEn': 'Girls Encounter',
    'prdtYear': '2017',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '일본',
    'genreAlt': '드라마',
    'repNationNm': '일본',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '에다 유카'}],
    'companys': []},
   {'movieCd': '20196670',
    'movieNm': '나쁜 녀석들: 포에버',
    'movieNmEn': 'Bad Boys for Life',
    'prdtYear': '2020',
    'openDt': '20200115',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '미국',
    'genreAlt': '액션',
    'repNationNm': '미국',
    'repGenreNm': '액션',
    'directors': [{'peopleNm': '아딜 엘 아르비'}, {'peopleNm': '빌랄 팔라'}],
    'companys': []},
   {'movieCd': '20193184',
    'movieNm': '일 트로바토레',
    'movieNmEn': 'Il Trovatore',
    'prdtYear': '2019',
    'openDt': '20200112',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '독일',
    'genreAlt': '공연,드라마,멜로/로맨스',
    'repNationNm': '독일',
    'repGenreNm': '공연',
    'directors': [{'peopleNm': '프랑코 제피렐리'}],
    'companys': []},
   {'movieCd': '20193393',
    'movieNm': '어린 관리사 ',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200110',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '성인물(에로)',
    'repNationNm': '한국',
    'repGenreNm': '성인물(에로)',
    'directors': [{'peopleNm': '최성은'}],
    'companys': [{'companyCd': '20136715', 'companyNm': '(주)영화사히트'}]},
   {'movieCd': '20197751',
    'movieNm': '무림방주: 절대고수의 탄생 ',
    'movieNmEn': '',
    'prdtYear': '2018',
    'openDt': '20200110',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '중국',
    'genreAlt': '사극,액션',
    'repNationNm': '중국',
    'repGenreNm': '사극',
    'directors': [{'peopleNm': '조지'}],
    'companys': []},
   {'movieCd': '20192507',
    'movieNm': '도도녀 길들이기 ',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200110',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스,코미디',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '신성진'}],
    'companys': [{'companyCd': '20161342', 'companyNm': '선셋 시네마'}]},
   {'movieCd': '20204089',
    'movieNm': '친구엄마들:세 친구의 스와핑',
    'movieNmEn': 'SIN TOMONOHAHA 01',
    'prdtYear': '2017',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '일본',
    'genreAlt': '멜로/로맨스,드라마',
    'repNationNm': '일본',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '카와사키 군지'}],
    'companys': []},
   {'movieCd': '20191311',
    'movieNm': '차일드 인 타임',
    'movieNmEn': 'The Child in Time',
    'prdtYear': '2017',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '영국',
    'genreAlt': '드라마',
    'repNationNm': '영국',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '줄리언 파리노'}],
    'companys': []},
   {'movieCd': '20193686',
    'movieNm': '잠 못 이루는 섹스2 무삭제판',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스,성인물(에로)',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '이민환'}],
    'companys': [{'companyCd': '20063099', 'companyNm': '(주)케이알씨지'}]},
   {'movieCd': '20190562',
    'movieNm': '울지마 톤즈 2 : 슈크란 바바',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '다큐멘터리',
    'repNationNm': '한국',
    'repGenreNm': '다큐멘터리',
    'directors': [{'peopleNm': '강성옥'}],
    'companys': [{'companyCd': '20137715', 'companyNm': 'KBS 미디어'},
     {'companyCd': '20143338', 'companyNm': '(주)드림팩트엔터테인먼트'},
     {'companyCd': '20139840', 'companyNm': '원피스'}]},
   {'movieCd': '20190740',
    'movieNm': '어린 처형 3',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '정진호'}],
    'companys': [{'companyCd': '20176201', 'companyNm': '모히또필름'}]},
   {'movieCd': '20204090',
    'movieNm': '애인:일본 유부녀들',
    'movieNmEn': 'KYAKUTONERUTUMA',
    'prdtYear': '2017',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '일본',
    'genreAlt': '멜로/로맨스,드라마',
    'repNationNm': '일본',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '카와사키 군지'}],
    'companys': []},
   {'movieCd': '20190851',
    'movieNm': '썩시드',
    'movieNmEn': 'SUCKSEED',
    'prdtYear': '2011',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '태국',
    'genreAlt': '코미디',
    'repNationNm': '태국',
    'repGenreNm': '코미디',
    'directors': [{'peopleNm': '차야놉 분프라콥'}],
    'companys': []},
   {'movieCd': '20193524',
    'movieNm': '수상한동거 ',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '원명준'}],
    'companys': [{'companyCd': '20130184', 'companyNm': '스마일컨텐츠'}]},
   {'movieCd': '20197972',
    'movieNm': '리틀 큐',
    'movieNmEn': 'Little Q',
    'prdtYear': '2019',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '홍콩',
    'genreAlt': '드라마',
    'repNationNm': '홍콩',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '나영창'}],
    'companys': []},
   {'movieCd': '20204060',
    'movieNm': '나쁜 섹스:겁탈 당한 아내3',
    'movieNmEn': 'OKASARETEMOWASURENAI-01',
    'prdtYear': '2018',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '일본',
    'genreAlt': '멜로/로맨스,드라마',
    'repNationNm': '일본',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '하라다 칸토나'}],
    'companys': []},
   {'movieCd': '20204101',
    'movieNm': '꼬치집:과부 여주인',
    'movieNmEn': 'KANASIMIYOKOTYOUNOONNA',
    'prdtYear': '2017',
    'openDt': '20200109',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '일본',
    'genreAlt': '멜로/로맨스,드라마',
    'repNationNm': '일본',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '카와사키 군지'}],
    'companys': []},
   {'movieCd': '20198676',
    'movieNm': '타오르는 여인의 초상',
    'movieNmEn': 'Portrait of a Lady on Fire',
    'prdtYear': '2019',
    'openDt': '20200116',
    'typeNm': '장편',
    'prdtStatNm': '개봉예정',
    'nationAlt': '프랑스',
    'genreAlt': '드라마',
    'repNationNm': '프랑스',
    'repGenreNm': '드라마',
    'directors': [{'peopleNm': '셀린 시아마'}],
    'companys': []},
   {'movieCd': '20192370',
    'movieNm': '디어스킨',
    'movieNmEn': 'Deerskin',
    'prdtYear': '2019',
    'openDt': '20200101',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '프랑스',
    'genreAlt': '스릴러',
    'repNationNm': '프랑스',
    'repGenreNm': '스릴러',
    'directors': [],
    'companys': []},
   {'movieCd': '20196161',
    'movieNm': '타발루가와 얼음공주',
    'movieNmEn': 'TABALUGA',
    'prdtYear': '2018',
    'openDt': '20200108',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '독일',
    'genreAlt': '애니메이션,어드벤처,코미디',
    'repNationNm': '독일',
    'repGenreNm': '애니메이션',
    'directors': [{'peopleNm': '스벤 운터발트 주니어'}],
    'companys': []},
   {'movieCd': '20203922',
    'movieNm': '아내의유혹-무삭제',
    'movieNmEn': '',
    'prdtYear': '2019',
    'openDt': '20200108',
    'typeNm': '장편',
    'prdtStatNm': '개봉',
    'nationAlt': '한국',
    'genreAlt': '멜로/로맨스',
    'repNationNm': '한국',
    'repGenreNm': '멜로/로맨스',
    'directors': [{'peopleNm': '천성준'}],
    'companys': [{'companyCd': '20173662', 'companyNm': '에이원 미디어'}]}]}}

In [92]:
len(movieIdData["movieListResult"]["movieList"])

40

In [93]:
#movieIdData["movieListResult"]["movieList"][0]["directors"][0]["peopleNm"]

In [94]:
movieIdData["movieListResult"]["movieList"][2]

{'movieCd': '20188421',
 'movieNm': '미스터 주: 사라진 VIP',
 'movieNmEn': 'MR. ZOO: THE MISSING VIP',
 'prdtYear': '2018',
 'openDt': '20200122',
 'typeNm': '장편',
 'prdtStatNm': '개봉예정',
 'nationAlt': '한국',
 'genreAlt': '코미디,드라마',
 'repNationNm': '한국',
 'repGenreNm': '코미디',
 'directors': [{'peopleNm': '김태윤'}],
 'companys': [{'companyCd': '20141613', 'companyNm': '리양필름(주)'}]}

In [122]:
movieIdDF=pd.DataFrame()
movieIdDF_temp=pd.DataFrame()
movieIdDF_temp=movieIdDF_temp.append({"movieCd":"","movieNm":"","movieNmEn":"","openDt":"", "directorpeopleNm":""}, ignore_index=True)
movieIdDF_temp
for i in range(0,40):
    # 데이터 담기
    movieIdDF_temp.at[0,"movieCd"]=movieIdData["movieListResult"]["movieList"][i]["movieCd"]
    movieIdDF_temp.at[0,"movieNm"]=movieIdData["movieListResult"]["movieList"][i]["movieNm"]
    movieIdDF_temp.at[0,"movieNmEn"]=movieIdData["movieListResult"]["movieList"][i]["movieNmEn"]
    movieIdDF_temp.at[0,"openDt"]=movieIdData["movieListResult"]["movieList"][i]["openDt"]
    
    if movieIdData["movieListResult"]["movieList"][i]["directors"]!=[]:
        movieIdDF_temp.iat[0,movieIdDF_temp.columns.get_loc("directorpeopleNm")]=movieIdData["movieListResult"]["movieList"][i]["directors"][0]["peopleNm"]
    else:
        movieIdDF_temp.iat[0,movieIdDF_temp.columns.get_loc("directorpeopleNm")]=""
    # 합치기
    movieIdDF = movieIdDF.append(movieIdDF_temp, ignore_index=True)
    
    # 비우기
    for j in range(0,len(movieIdDF_temp.columns)):
        movieIdDF_temp.iat[0,j]=""


movieIdDF.head()

,directorpeopleNm,movieCd,movieNm,movieNmEn,openDt
0,기욤 이베르넬,20192987,스파이즈,Spycies,20200115
1,,20192988,슈퍼 베어,Super Bear,20200115
2,김태윤,20188421,미스터 주: 사라진 VIP,MR. ZOO: THE MISSING VIP,20200122
3,닉 브루노,20192300,스파이 지니어스,Spies in Disguise,20200122
4,,20204340,시원찮은 그녀를 위한 육성방법 피날레,Saekano the Movie: Finale,20200227

In [96]:
movieIdDF["openDt"][0][:4]

'2020'

In [97]:
movieIdDF["openDt"][1][6:8]

'15'

In [102]:
movieIdDF["year"]=movieIdDF["openDt"].apply(lambda x: str(x)[:4])
movieIdDF["month"]=movieIdDF["openDt"].apply(lambda x: str(x)[4:6])
movieIdDF["day"]=movieIdDF["openDt"].apply(lambda x: str(x)[6:])
movieIdDF.head()

,openDt,year,month,day,movieNm,movieNmEn,directorpeopleNm
movieCd,,,,,,,
20192370,20200101,2020,01,01,디어스킨,Deerskin,
20124722,20200101,2020,01,01,피아니스트의 전설,The Legend Of 1900,쥬세페 토르나토레
20191035,20200102,2020,01,02,무한정사,,최재후
20190770,20200102,2020,01,02,어린 이모 3,,
20193870,20200106,2020,01,06,데릴사위 : 젊은 장모를 탐하다,,최민현

#### 날짜 순으로 정렬을 하고 index를 movieCd로 하고 컬럼 순서를 openDt year month day movieNm movieNmEn directorpeopleNm로 정리

In [99]:
movieIdDF.columns

Index(['directorpeopleNm', 'movieCd', 'movieNm', 'movieNmEn', 'openDt', 'year',
       'month', 'day'],
      dtype='object')

In [119]:
# 참고) 이미 set_index한 이후에 다시 하게 되면 에러가 발생
#movieIdDF=movieIdDF.sort_values(by="openDt")
#movieIdDF=movieIdDF.set_index("movieCd")

# 원하는 순서대로 컬럼 변경
#movieIdDF=movieIdDF[["openDt","year","month","day","movieNm","movieNmEn","directorpeopleNm"]]

#movieIdDF.head()

In [43]:
movieIdDF.head()

,openDt,year,month,day,movieNm,movieNmEn,directorpeopleNm,type,ActorNum,cast,cast_peopleNm
28,20200101,2020,01,01,디어스킨,Deerskin,,NaN,NaN,NaN,NaN
33,20200101,2020,01,01,피아니스트의 전설,The Legend Of 1900,쥬세페 토르나토레,NaN,NaN,NaN,NaN
37,20200102,2020,01,02,무한정사,,최재후,NaN,NaN,NaN,NaN
36,20200102,2020,01,02,어린 이모 3,,,NaN,NaN,NaN,NaN
39,20200106,2020,01,06,데릴사위 : 젊은 장모를 탐하다,,최민현,NaN,NaN,NaN,NaN

In [15]:
excelOutPath="/Users/acorn/Downloads/0_data/0_data/sampledata_20200102/sampledata/movieIdDF.xlsx"
writer=pd.ExcelWriter(excelOutPath,engine='xlsxwriter')
movieIdDF.to_excel(excelOutPath)

In [34]:
movieIdListURL="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=430156241533f1d058c603178cc3ca0e&movieCd=20124079"
movieIdPage=urllib.request.urlopen(movieIdListURL)

movieIdData=json.loads(movieIdPage.read().decode('utf8'),encoding='utf-8')
movieIdData

{'movieInfoResult': {'movieInfo': {'movieCd': '20124079',
   'movieNm': '광해, 왕이 된 남자',
   'movieNmEn': 'Masquerade',
   'movieNmOg': '',
   'showTm': '131',
   'prdtYear': '2012',
   'openDt': '20120913',
   'prdtStatNm': '개봉',
   'typeNm': '장편',
   'nations': [{'nationNm': '한국'}],
   'genres': [{'genreNm': '사극'}, {'genreNm': '드라마'}],
   'directors': [{'peopleNm': '추창민', 'peopleNmEn': 'CHOO Chang-min'}],
   'actors': [{'peopleNm': '이병헌',
     'peopleNmEn': 'LEE Byung-hun',
     'cast': '광해/하선',
     'castEn': ''},
    {'peopleNm': '류승룡',
     'peopleNmEn': 'RYU Seung-ryong',
     'cast': '허균',
     'castEn': ''},
    {'peopleNm': '한효주',
     'peopleNmEn': 'HAN Hyo-joo',
     'cast': '중전',
     'castEn': ''},
    {'peopleNm': '장광',
     'peopleNmEn': 'JANG Kwang',
     'cast': '조내관',
     'castEn': ''},
    {'peopleNm': '김인권',
     'peopleNmEn': 'KIM In-kwon',
     'cast': '도부장',
     'castEn': ''},
    {'peopleNm': '심은경',
     'peopleNmEn': 'SHIM Eun-kyoung',
     'cast': '사월이',
     'castEn': ''},
    {'peopleNm': '김명곤',
     'peopleNmEn': 'KIM Myung-kon',
     'cast': '박충수',
     'castEn': ''},
    {'peopleNm': '서진원',
     'peopleNmEn': 'SEO Jin-won',
     'cast': '도총관',
     'castEn': ''},
    {'peopleNm': '장재현',
     'peopleNmEn': 'JANG Jae-hyun',
     'cast': '광해 등불 내관1',
     'castEn': ''},
    {'peopleNm': '정창국', 'peopleNmEn': '', 'cast': '자객2', 'castEn': ''},
    {'peopleNm': '조혜정', 'peopleNmEn': '', 'cast': '기미 궁녀1', 'castEn': ''},
    {'peopleNm': '김남준', 'peopleNmEn': '', 'cast': '강원도 현감', 'castEn': ''},
    {'peopleNm': '이수용', 'peopleNmEn': '', 'cast': '칼자국', 'castEn': ''},
    {'peopleNm': '박윤호', 'peopleNmEn': '', 'cast': '유생4', 'castEn': ''},
    {'peopleNm': '김지수', 'peopleNmEn': '', 'cast': '자객1', 'castEn': ''},
    {'peopleNm': '박민규', 'peopleNmEn': '', 'cast': '광해 등불 내관2', 'castEn': ''},
    {'peopleNm': '박지아',
     'peopleNmEn': 'PARK Zi-a',
     'cast': '한상궁',
     'castEn': ''},
    {'peopleNm': '송미정', 'peopleNmEn': '', 'cast': '사월이 대역', 'castEn': ''},
    {'peopleNm': '양준모', 'peopleNmEn': '', 'cast': '', 'castEn': ''},
    {'peopleNm': '원동연',
     'peopleNmEn': 'WON Dong-yeon',
     'cast': '홍루몽 선비',
     'castEn': ''},
    {'peopleNm': '김종구',
     'peopleNmEn': 'KIM Jong-gu',
     'cast': '광해 어의',
     'castEn': ''},
    {'peopleNm': '주영호',
     'peopleNmEn': 'JU Yeong-ho',
     'cast': '광해 별감1',
     'castEn': ''},
    {'peopleNm': '이엘', 'peopleNmEn': 'LEE El', 'cast': '안개시', 'castEn': ''},
    {'peopleNm': '전배수',
     'peopleNmEn': 'JEON Bae-soo',
     'cast': '형판',
     'castEn': ''},
    {'peopleNm': '이란희',
     'peopleNmEn': 'LEE Ran-hee',
     'cast': '수라간 궁녀3',
     'castEn': ''},
    {'peopleNm': '최욱',
     'peopleNmEn': 'CHOI Wook',
     'cast': '유생 2',
     'castEn': ''},
    {'peopleNm': '이봉련',
     'peopleNmEn': 'LEE Bong-ryeon',
     'cast': '수라간 궁녀1',
     'castEn': ''},
    {'peopleNm': '허성태',
     'peopleNmEn': 'HEO Sung-tae',
     'cast': '국문장 나장1',
     'castEn': ''},
    {'peopleNm': '이양희',
     'peopleNmEn': 'LEE Yang-hee',
     'cast': '공판',
     'castEn': ''},
    {'peopleNm': '전국향',
     'peopleNmEn': 'JEON Guk-hyang',
     'cast': '정상궁',
     'castEn': ''},
    {'peopleNm': '김승훈',
     'peopleNmEn': 'KIM Seung-hoon',
     'cast': '이방',
     'castEn': ''},
    {'peopleNm': '권은수',
     'peopleNmEn': 'GWON Eun-su',
     'cast': '광해수건궁녀',
     'castEn': ''},
    {'peopleNm': '승의열',
     'peopleNmEn': 'SEUNG Ui -yeol',
     'cast': '사월 어의',
     'castEn': ''}],
   'showTypes': [{'showTypeGroupNm': '필름', 'showTypeNm': '필름'},
    {'showTypeGroupNm': '필름', 'showTypeNm': '청각장애인용 자막'},
    {'showTypeGroupNm': '2D', 'showTypeNm': '디지털'},
    {'showTypeGroupNm': '2D', 'showTypeNm': '디지털 영문자막'},
    {'showTypeGroupNm': '2D', 'showTypeNm': '디지털 일어자막'},
    {'showTypeGroupNm': '2D', 'showTypeNm': '디지털 가치봄'}],
   'companys': [{'companyCd': '20100540',
     'companyNm': '리얼라이즈픽쳐스(주)',
     'companyNmEn': 'Realies Pictures, Inc.',
     'companyPartNm': '제작사'},
    {'companyCd': '20110854',
     'companyNm': '씨제이이앤엠(주)',
     'companyNmEn': 'CJ ENM Corp.',
     'companyPartNm': '제작사'},
    {'companyCd': '20110854',
     'companyNm': '씨제이이앤엠(주)',
     'companyNmEn': 'CJ ENM Corp.',
     'companyPartNm': '배급사'},
    {'companyCd': '20110854',
     'companyNm': '씨제이이앤엠(주)',
     'companyNmEn': 'CJ ENM Corp.',
     'companyPartNm': '제공'},
    {'companyCd': '20111391',
     'companyNm': '비엠씨영화전문투자조합',
     'companyNmEn': '',
     'companyPartNm': '공동제공'},
    {'companyCd': '20114892',
     'companyNm': '컴퍼니케이파트너스 콘텐츠 전문투자조합',
     'companyNmEn': '',
     'companyPartNm': '공동제공'},
    {'companyCd': '20114895',
     'companyNm': '그린손해보험(주)',
     'companyNmEn': 'Green non-life insurance co,. Ltd',
     'companyPartNm': '공동제공'},
    {'companyCd': '20061365',
     'companyNm': '이수창업투자(주)',
     'companyNmEn': '',
     'companyPartNm': '공동제공'},
    {'companyCd': '20061361',
     'companyNm': '소빅창업투자(주)',
     'companyNmEn': '',
     'companyPartNm': '공동제공'},
    {'companyCd': '20123779',
     'companyNm': '에스크베리타스자산운용(주)',
     'companyNmEn': '',
     'companyPartNm': '공동제공'},
    {'companyCd': '20061362',
     'companyNm': 'CJ창업투자(주)',
     'companyNmEn': 'CJ Venture Investment',
     'companyPartNm': '공동제공'},
    {'companyCd': '20123115',
     'companyNm': 'MVP창투문화산업투자조합',
     'companyNmEn': '',
     'companyPartNm': '공동제공'},
    {'companyCd': '20111451',
     'companyNm': '(유)동문파트너즈',
     'companyNmEn': '',
     'companyPartNm': '공동제공'},
    {'companyCd': '20100109',
     'companyNm': '씨제이엔터테인먼트',
     'companyNmEn': 'CJ Entertainment',
     'companyPartNm': '해외세일즈사'}],
   'audits': [{'auditNo': '2012-F610', 'watchGradeNm': '15세이상관람가'}],
   'staffs': [{'peopleNm': '문성주',
     'peopleNmEn': 'MOON Sung-joo',
     'staffRoleNm': '투자'},
    {'peopleNm': '김호성', 'peopleNmEn': 'KIM Ho-sung', 'staffRoleNm': '제작'},
    {'peopleNm': '임상진', 'peopleNmEn': 'IM Sang-jin', 'staffRoleNm': '제작'},
    {'peopleNm': '원동연', 'peopleNmEn': 'WON Dong-yeon', 'staffRoleNm': '프로듀서'},
    {'peopleNm': '정지훈', 'peopleNmEn': 'JEONG Ji-hoon', 'staffRoleNm': '프로듀서'},
    {'peopleNm': '김영호', 'peopleNmEn': 'KIM Young-ho', 'staffRoleNm': '라인프로듀서'},
    {'peopleNm': '이성두', 'peopleNmEn': '', 'staffRoleNm': '라인프로듀서'},
    {'peopleNm': '서규선', 'peopleNmEn': '', 'staffRoleNm': '제작팀'},
    {'peopleNm': '박민규', 'peopleNmEn': '', 'staffRoleNm': '제작팀'},
    {'peopleNm': '윤지원', 'peopleNmEn': 'YUN Ji-won', 'staffRoleNm': '제작팀'},
    {'peopleNm': '조영', 'peopleNmEn': '', 'staffRoleNm': '제작팀'},
    {'peopleNm': '정창국', 'peopleNmEn': '', 'staffRoleNm': '제작팀'},
    {'peopleNm': '김성태', 'peopleNmEn': '', 'staffRoleNm': '제작팀'},
    {'peopleNm': '이준규', 'peopleNmEn': 'LEE Jun-gyu', 'staffRoleNm': '제작팀'},
    {'peopleNm': '김지수', 'peopleNmEn': '', 'staffRoleNm': '제작팀'},
    {'peopleNm': '강성철', 'peopleNmEn': '', 'staffRoleNm': '제작팀'},
    {'peopleNm': '송미정', 'peopleNmEn': '', 'staffRoleNm': '제작팀'},
    {'peopleNm': '김형준',
     'peopleNmEn': 'Jonathan H. KIM',
     'staffRoleNm': '제작관리'},
    {'peopleNm': '설혜옥', 'peopleNmEn': '', 'staffRoleNm': '제작관리'},
    {'peopleNm': '최시원', 'peopleNmEn': '', 'staffRoleNm': '데이타매니저'},
    {'peopleNm': '이동수', 'peopleNmEn': '', 'staffRoleNm': '조감독'},
    {'peopleNm': '표유신', 'peopleNmEn': '', 'staffRoleNm': '연출팀'},
    {'peopleNm': '민홍남', 'peopleNmEn': '', 'staffRoleNm': '연출팀'},
    {'peopleNm': '엄석준', 'peopleNmEn': '', 'staffRoleNm': '연출팀'},
    {'peopleNm': '장재현', 'peopleNmEn': 'JANG Jae-hyun', 'staffRoleNm': '연출팀'},
    {'peopleNm': '김남준', 'peopleNmEn': '', 'staffRoleNm': '연출팀'},
    {'peopleNm': '장미숙', 'peopleNmEn': '', 'staffRoleNm': '스크립터'},
    {'peopleNm': '홍유리', 'peopleNmEn': '', 'staffRoleNm': '현장편집'},
    {'peopleNm': '허선미', 'peopleNmEn': 'HEO Seon-mi', 'staffRoleNm': '현장편집'},
    {'peopleNm': '정태민', 'peopleNmEn': '', 'staffRoleNm': '스토리보드'},
    {'peopleNm': '송선찬',
     'peopleNmEn': 'SONG Seon-chan',
     'staffRoleNm': '스토리보드'},
    {'peopleNm': '차주한', 'peopleNmEn': 'CHA Ju-han', 'staffRoleNm': '스토리보드'},
    {'peopleNm': '이윤호', 'peopleNmEn': '', 'staffRoleNm': '스토리보드'},
    {'peopleNm': '안소정', 'peopleNmEn': '', 'staffRoleNm': '스토리'},
    {'peopleNm': '황조윤',
     'peopleNmEn': 'HWANG Jo-yun',
     'staffRoleNm': '시나리오(각본)'},
    {'peopleNm': '추창민', 'peopleNmEn': 'CHOO Chang-min', 'staffRoleNm': '각색'},
    {'peopleNm': '이태윤', 'peopleNmEn': 'LEE Tae-yoon', 'staffRoleNm': '촬영'},
    {'peopleNm': '김동욱',
     'peopleNmEn': 'KIM Dong-wook',
     'staffRoleNm': '카메라오퍼레이터'},
    {'peopleNm': '신정길', 'peopleNmEn': '', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '김성인', 'peopleNmEn': '', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '김재광', 'peopleNmEn': 'KIM Jae-gwang', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '김정원', 'peopleNmEn': 'Kim Jung-won', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '최재광', 'peopleNmEn': '', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '문성진', 'peopleNmEn': 'Mun Seong-jin', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '이재충', 'peopleNmEn': '', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '김태수', 'peopleNmEn': '', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '김주연', 'peopleNmEn': 'Kim Joo-yeun', 'staffRoleNm': '촬영팀'},
    {'peopleNm': '김종배', 'peopleNmEn': '', 'staffRoleNm': '그립'},
    {'peopleNm': '김도균', 'peopleNmEn': 'KIM Do-gyun', 'staffRoleNm': '그립'},
    {'peopleNm': '오진영', 'peopleNmEn': '', 'staffRoleNm': '그립'},
    {'peopleNm': '전용훈', 'peopleNmEn': 'JEON Yong-hoon', 'staffRoleNm': '스테디캠'},
    {'peopleNm': '김희승', 'peopleNmEn': 'HEE-SEUNG KIM', 'staffRoleNm': '지미집'},
    {'peopleNm': '김병국', 'peopleNmEn': '', 'staffRoleNm': '지미집'},
    {'peopleNm': '김민재', 'peopleNmEn': 'KIM Min-jae', 'staffRoleNm': '촬영장비'},
    {'peopleNm': '오승철', 'peopleNmEn': 'OH Seung-chul', 'staffRoleNm': '조명'},
    {'peopleNm': '남경민', 'peopleNmEn': 'NAM Gyeong-min', 'staffRoleNm': '조명팀'},
    {'peopleNm': '박지수', 'peopleNmEn': 'PARK Jisoo', 'staffRoleNm': '조명팀'},
    {'peopleNm': '김상철', 'peopleNmEn': 'KIM Sang-chul', 'staffRoleNm': '조명팀'},
    {'peopleNm': '방현용', 'peopleNmEn': '', 'staffRoleNm': '조명팀'},
    {'peopleNm': '이성규', 'peopleNmEn': '', 'staffRoleNm': '조명팀'},
    {'peopleNm': '김형미', 'peopleNmEn': '', 'staffRoleNm': '조명팀'},
    {'peopleNm': '황확성', 'peopleNmEn': '', 'staffRoleNm': '조명팀'},
    {'peopleNm': '한경욱', 'peopleNmEn': '', 'staffRoleNm': '조명팀'},
    {'peopleNm': '박지훈', 'peopleNmEn': '', 'staffRoleNm': '조명팀'},
    {'peopleNm': '유혁준', 'peopleNmEn': '', 'staffRoleNm': '조명팀'},
    {'peopleNm': '이동원', 'peopleNmEn': 'LEE Dong-won', 'staffRoleNm': '조명팀'},
    {'peopleNm': '박사옥', 'peopleNmEn': 'PARK Sa-ok', 'staffRoleNm': '발전차'},
    {'peopleNm': '황확성', 'peopleNmEn': '', 'staffRoleNm': '발전차'},
    {'peopleNm': '이기준', 'peopleNmEn': 'LEE Gi-jun', 'staffRoleNm': '조명장비'},
    {'peopleNm': '이상준', 'peopleNmEn': 'LEE Sang-jun', 'staffRoleNm': '동시녹음'},
    {'peopleNm': '김지아', 'peopleNmEn': '', 'staffRoleNm': '붐오퍼레이터'},
    {'peopleNm': '고동훈', 'peopleNmEn': 'KOH Dong-hun', 'staffRoleNm': '붐오퍼레이터'},
    {'peopleNm': '이동현', 'peopleNmEn': '', 'staffRoleNm': '케이블맨'},
    {'peopleNm': '오흥석',
     'peopleNmEn': 'OH Heung-suk',
     'staffRoleNm': '미술/프로덕션 디자인'},
    {'peopleNm': '곽재식', 'peopleNmEn': 'KWAK Jae-sik', 'staffRoleNm': '아트디렉터'},
    {'peopleNm': '김승경',
     'peopleNmEn': 'KIM Seung-kyung',
     'staffRoleNm': '아트디렉터'},
    {'peopleNm': '김지현', 'peopleNmEn': 'KIM Ji-hyun', 'staffRoleNm': '미술팀'},
    {'peopleNm': '연상모', 'peopleNmEn': '', 'staffRoleNm': '미술팀'},
    {'peopleNm': '김슬기', 'peopleNmEn': 'KIM Seul-ki', 'staffRoleNm': '미술팀'},
    {'peopleNm': '김은영', 'peopleNmEn': 'KIM Eun-young', 'staffRoleNm': '미술팀'},
    {'peopleNm': '이성경', 'peopleNmEn': '', 'staffRoleNm': '미술팀'},
    {'peopleNm': '이선정', 'peopleNmEn': '', 'staffRoleNm': '미술팀'},
    {'peopleNm': '서영희', 'peopleNmEn': '', 'staffRoleNm': '미술팀'},
    {'peopleNm': '원연주', 'peopleNmEn': '', 'staffRoleNm': '미술팀'},
    {'peopleNm': '윤일랑', 'peopleNmEn': 'YUN Il-lang', 'staffRoleNm': '세트'},
    {'peopleNm': '김동섭', 'peopleNmEn': '', 'staffRoleNm': '세트팀'},
    {'peopleNm': '김학현', 'peopleNmEn': '', 'staffRoleNm': '세트팀'},
    {'peopleNm': '김광섭', 'peopleNmEn': 'KIM Gwang-sub', 'staffRoleNm': '세트팀'},
    {'peopleNm': '김현정', 'peopleNmEn': 'Kim Hyun-jung', 'staffRoleNm': '세트미술팀'},
    {'peopleNm': '김우리', 'peopleNmEn': '', 'staffRoleNm': '세트미술팀'},
    {'peopleNm': '오유진', 'peopleNmEn': 'OH You-jin', 'staffRoleNm': '소품'},
    {'peopleNm': '오유진', 'peopleNmEn': 'OH You-jin', 'staffRoleNm': '소품'},
    {'peopleNm': '전재욱', 'peopleNmEn': 'JUN Jae-wook', 'staffRoleNm': '소품'},
    {'peopleNm': '김철남', 'peopleNmEn': 'KIM Chul-nam', 'staffRoleNm': '소품팀'},
    {'peopleNm': '이정은', 'peopleNmEn': 'LEE Jung-eun', 'staffRoleNm': '소품팀'},
    {'peopleNm': '서민정', 'peopleNmEn': '', 'staffRoleNm': '소품팀'},
    {'peopleNm': '서영희', 'peopleNmEn': '', 'staffRoleNm': '소품팀'},
    {'peopleNm': '전승훈', 'peopleNmEn': '', 'staffRoleNm': '소품팀'},
    {'peopleNm': '김보미', 'peopleNmEn': 'KIM Bo-mi', 'staffRoleNm': '소품팀'},
    {'peopleNm': '임정희', 'peopleNmEn': '', 'staffRoleNm': '의상'},
    {'peopleNm': '권유진', 'peopleNmEn': 'KWON Yoo-jin', 'staffRoleNm': '의상'},
    {'peopleNm': '권유진', 'peopleNmEn': 'KWON Yoo-jin', 'staffRoleNm': '의상디자이너'},
    {'peopleNm': '김소희', 'peopleNmEn': '', 'staffRoleNm': '의상팀'},
    {'peopleNm': '박세라', 'peopleNmEn': '', 'staffRoleNm': '의상팀'},
    {'peopleNm': '이은이', 'peopleNmEn': '', 'staffRoleNm': '의상팀'},
    {'peopleNm': '김진주', 'peopleNmEn': 'KIM Jin-ju', 'staffRoleNm': '의상팀'},
    {'peopleNm': '최유미', 'peopleNmEn': 'CHOI Yu-mi', 'staffRoleNm': '의상팀'},
    {'peopleNm': '이하나', 'peopleNmEn': '', 'staffRoleNm': '의상팀'},
    {'peopleNm': '진승희', 'peopleNmEn': '', 'staffRoleNm': '의상팀'},
    {'peopleNm': '김나현', 'peopleNmEn': '', 'staffRoleNm': '의상팀'},
    {'peopleNm': '이혜란', 'peopleNmEn': '', 'staffRoleNm': '의상팀'},
    {'peopleNm': '조태희', 'peopleNmEn': 'CHO Tae-hee', 'staffRoleNm': '분장'},
    {'peopleNm': '김선희', 'peopleNmEn': 'KIM Seon-hee', 'staffRoleNm': '분장팀'},
    {'peopleNm': '최유진', 'peopleNmEn': '', 'staffRoleNm': '분장팀'},
    {'peopleNm': '최상미', 'peopleNmEn': '', 'staffRoleNm': '분장팀'},
    {'peopleNm': '이미진', 'peopleNmEn': '', 'staffRoleNm': '분장팀'},
    {'peopleNm': '강혜은', 'peopleNmEn': '', 'staffRoleNm': '분장팀'},
    {'peopleNm': '조강희', 'peopleNmEn': '', 'staffRoleNm': '헤어'},
    {'peopleNm': '조태희', 'peopleNmEn': 'CHO Tae-hee', 'staffRoleNm': '헤어'},
    {'peopleNm': '설하운', 'peopleNmEn': '', 'staffRoleNm': '특수분장'},
    {'peopleNm': '김호식', 'peopleNmEn': '', 'staffRoleNm': '특수분장'},
    {'peopleNm': '이고운', 'peopleNmEn': 'LEE Go-un', 'staffRoleNm': '특수분장'},
    {'peopleNm': '곽태용', 'peopleNmEn': 'KWAK Tae-yong', 'staffRoleNm': '특수분장'},
    {'peopleNm': '이희은', 'peopleNmEn': 'LEE Hee-eun', 'staffRoleNm': '특수분장'},
    {'peopleNm': '김새봄', 'peopleNmEn': '', 'staffRoleNm': '특수분장'},
    {'peopleNm': '조은수', 'peopleNmEn': 'Jo Eun-su', 'staffRoleNm': '특수분장'},
    {'peopleNm': '김신애', 'peopleNmEn': 'KIM Sin-ae', 'staffRoleNm': '특수분장'},
    {'peopleNm': '피대성', 'peopleNmEn': 'PEE Dae-sung', 'staffRoleNm': '특수분장'},
    {'peopleNm': '황효균', 'peopleNmEn': 'HWANG Hyo-gyun', 'staffRoleNm': '특수분장'},
    {'peopleNm': '박종화', 'peopleNmEn': '', 'staffRoleNm': '분장차'},
    {'peopleNm': '박정률',
     'peopleNmEn': 'PARK Jung-ryul',
     'staffRoleNm': '액션/스턴트'},
    {'peopleNm': '최광락',
     'peopleNmEn': 'Kwangrak Choi',
     'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '안용우', 'peopleNmEn': '', 'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '김정민', 'peopleNmEn': '', 'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '김정민', 'peopleNmEn': '', 'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '이명규', 'peopleNmEn': '', 'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '김철준',
     'peopleNmEn': 'Kim Chul-jun',
     'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '이주원', 'peopleNmEn': '', 'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '김용호', 'peopleNmEn': '', 'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '이재남', 'peopleNmEn': '', 'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '김승필',
     'peopleNmEn': 'KIM Seung-phil',
     'staffRoleNm': '액션/스턴트팀'},
    {'peopleNm': '한민혁', 'peopleNmEn': '', 'staffRoleNm': '액션/스턴트코디네이터'},
    {'peopleNm': '김승필',
     'peopleNmEn': 'KIM Seung-phil',
     'staffRoleNm': '액션/스턴트코디네이터'},
    {'peopleNm': '윤대원', 'peopleNmEn': 'YOON Dae-won', 'staffRoleNm': '특수효과'},
    {'peopleNm': '박철용', 'peopleNmEn': '', 'staffRoleNm': '특수효과'},
    {'peopleNm': '박상균', 'peopleNmEn': '', 'staffRoleNm': '특수효과팀'},
    {'peopleNm': '임승배', 'peopleNmEn': '', 'staffRoleNm': '특수효과팀'},
    {'peopleNm': '김도영', 'peopleNmEn': '', 'staffRoleNm': '특수효과팀'},
    {'peopleNm': '남나영', 'peopleNmEn': 'NAM Na-young', 'staffRoleNm': '편집'},
    {'peopleNm': '정계현', 'peopleNmEn': 'Jung Kye-hyun', 'staffRoleNm': '편집팀'},
    {'peopleNm': '정지연', 'peopleNmEn': '', 'staffRoleNm': '편집팀'},
    {'peopleNm': '김준성', 'peopleNmEn': 'KIM Jun-seong', 'staffRoleNm': '음악'},
    {'peopleNm': '모그', 'peopleNmEn': 'Mowg', 'staffRoleNm': '음악'},
    {'peopleNm': '신라별', 'peopleNmEn': '', 'staffRoleNm': '음악진행'},
    {'peopleNm': '김수영', 'peopleNmEn': '', 'staffRoleNm': '음악진행'},
    {'peopleNm': '박성균', 'peopleNmEn': '', 'staffRoleNm': '음악진행'},
    {'peopleNm': '김지애', 'peopleNmEn': '', 'staffRoleNm': '음악진행'},
    {'peopleNm': '이은주', 'peopleNmEn': 'LEE Eun-joo', 'staffRoleNm': '음악진행'},
    {'peopleNm': '장혁진', 'peopleNmEn': '', 'staffRoleNm': '음악진행'},
    {'peopleNm': '김나래', 'peopleNmEn': 'KIM Na-rae', 'staffRoleNm': '음악진행'},
    {'peopleNm': '모그', 'peopleNmEn': 'Mowg', 'staffRoleNm': '음악진행'},
    {'peopleNm': '고예진', 'peopleNmEn': '', 'staffRoleNm': '작사/작곡/편곡'},
    {'peopleNm': '모그', 'peopleNmEn': 'Mowg', 'staffRoleNm': '작사/작곡/편곡'},
    {'peopleNm': '김준성',
     'peopleNmEn': 'KIM Jun-seong',
     'staffRoleNm': '작사/작곡/편곡'},
    {'peopleNm': '황병준',
     'peopleNmEn': 'HWANG Byoung-jun',
     'staffRoleNm': '음악 믹싱/레코딩'},
    {'peopleNm': '이한구', 'peopleNmEn': '', 'staffRoleNm': '음악 믹싱/레코딩'},
    {'peopleNm': '장성학', 'peopleNmEn': '', 'staffRoleNm': '음악 믹싱/레코딩'},
    {'peopleNm': '김준성',
     'peopleNmEn': 'KIM Jun-seong',
     'staffRoleNm': '음악 믹싱/레코딩'},
    {'peopleNm': '이성진', 'peopleNmEn': 'LEE Seong-jin', 'staffRoleNm': '사운드'},
    {'peopleNm': '이승철', 'peopleNmEn': 'LEE Seung-chul', 'staffRoleNm': '사운드'},
    {'peopleNm': '한명환',
     'peopleNmEn': 'HAN Myung-hwan',
     'staffRoleNm': '사운드믹싱'},
    {'peopleNm': '최영선', 'peopleNmEn': '', 'staffRoleNm': '대사'},
    {'peopleNm': '정지영', 'peopleNmEn': 'JEONG Ji-young', 'staffRoleNm': '대사'},
    {'peopleNm': '남지은', 'peopleNmEn': 'NAM Ji-eun', 'staffRoleNm': '사운드효과'},
    {'peopleNm': '정지영',
     'peopleNmEn': 'JEONG Ji-young',
     'staffRoleNm': '사운드효과'},
    {'peopleNm': '문재홍', 'peopleNmEn': 'MOON Jae-hong', 'staffRoleNm': '폴리'},
    {'peopleNm': '김용국', 'peopleNmEn': 'KIM Yong-kook', 'staffRoleNm': '폴리'},
    {'peopleNm': '한주희', 'peopleNmEn': 'HAN Joo-hee', 'staffRoleNm': '폴리'},
    {'peopleNm': '박기영',
     'peopleNmEn': 'Park Ki-Young/PARK Gi-yeong',
     'staffRoleNm': '사운드팀'},
    {'peopleNm': '송윤재', 'peopleNmEn': 'SONG Yoon-jae', 'staffRoleNm': '사운드팀'},
    {'peopleNm': '신보영', 'peopleNmEn': '', 'staffRoleNm': '홍보/마케팅 진행'},
    {'peopleNm': '이윤정', 'peopleNmEn': '', 'staffRoleNm': '홍보/마케팅 진행'},
    {'peopleNm': '박시영', 'peopleNmEn': '', 'staffRoleNm': '광고디자인'},
    {'peopleNm': '임완택', 'peopleNmEn': '', 'staffRoleNm': '광고디자인'},
    {'peopleNm': '박지민', 'peopleNmEn': '', 'staffRoleNm': '광고디자인'},
    {'peopleNm': '박찬은', 'peopleNmEn': '', 'staffRoleNm': '광고디자인'},
    {'peopleNm': '김영준', 'peopleNmEn': '', 'staffRoleNm': '포스터사진'},
    {'peopleNm': '노주한', 'peopleNmEn': 'NO Ju-han', 'staffRoleNm': '스틸'},
    {'peopleNm': '노주한', 'peopleNmEn': 'NO Ju-han', 'staffRoleNm': '스틸'},
    {'peopleNm': '윤은한', 'peopleNmEn': '', 'staffRoleNm': '스틸'},
    {'peopleNm': '김서연', 'peopleNmEn': '', 'staffRoleNm': '메이킹필름'},
    {'peopleNm': '김영국', 'peopleNmEn': 'KIM Yeong-guk', 'staffRoleNm': '메이킹필름'},
    {'peopleNm': '한명선', 'peopleNmEn': '', 'staffRoleNm': '메이킹필름'},
    {'peopleNm': '한검주', 'peopleNmEn': '', 'staffRoleNm': '메이킹필름'},
    {'peopleNm': '김서연', 'peopleNmEn': '', 'staffRoleNm': '메이킹필름'},
    {'peopleNm': '이상호', 'peopleNmEn': '', 'staffRoleNm': '메이킹필름'},
    {'peopleNm': '윤성훈', 'peopleNmEn': '', 'staffRoleNm': '예고편'},

In [18]:
# typeNm
movieIdData["movieInfoResult"]["movieInfo"]["typeNm"]

'장편'

In [19]:
# 배우 수
len(movieIdData["movieInfoResult"]["movieInfo"]["actors"])

33

In [24]:
# 1번 배우 이름
movieIdData["movieInfoResult"]["movieInfo"]["actors"][0]["peopleNm"]

'이병헌'

In [25]:
# 1번 배우 배역
movieIdData["movieInfoResult"]["movieInfo"]["actors"][0]["cast"]

'광해/하선'

In [50]:
movieIdDF

,openDt,year,month,day,movieNm,movieNmEn,directorpeopleNm
movieCd,,,,,,,
20192370,20200101,2020,01,01,디어스킨,Deerskin,
20124722,20200101,2020,01,01,피아니스트의 전설,The Legend Of 1900,쥬세페 토르나토레
20191035,20200102,2020,01,02,무한정사,,최재후
20190770,20200102,2020,01,02,어린 이모 3,,
20193870,20200106,2020,01,06,데릴사위 : 젊은 장모를 탐하다,,최민현
20193691,20200107,2020,01,07,스와핑 동창회,,김석만
20199581,20200108,2020,01,08,닥터 두리틀,Dolittle,스티븐 개건
20203922,20200108,2020,01,08,아내의유혹-무삭제,,천성준
20196842,20200108,2020,01,08,걸즈 앤 판처 최종장 제1화,GIRLS und PANZER das FINALE : Part I,미즈시마 츠토무
20195462,20200108,2020,01,08,스타워즈: 라이즈 오브 스카이워커,Star Wars: The Rise of Skywalker,J.J. 에이브럼스
20196161,20200108,2020,01,08,타발루가와 얼음공주,TABALUGA,스벤 운터발트 주니어
20190740,20200109,2020,01,09,어린 처형 3,,정진호
20204101,20200109,2020,01,09,꼬치집:과부 여주인,KANASIMIYOKOTYOUNOONNA,카와사키 군지
20204060,20200109,2020,01,09,나쁜 섹스:겁탈 당한 아내3,OKASARETEMOWASURENAI-01,하라다 칸토나
20197972,20200109,2020,01,09,리틀 큐,Little Q,나영창
20193524,20200109,2020,01,09,수상한동거,,원명준
20190851,20200109,2020,01,09,썩시드,SUCKSEED,차야놉 분프라콥
20204090,20200109,2020,01,09,애인:일본 유부녀들,KYAKUTONERUTUMA,카와사키 군지
20190562,20200109,2020,01,09,울지마 톤즈 2 : 슈크란 바바,,강성옥
20191311,20200109,2020,01,09,차일드 인 타임,The Child in Time,줄리언 파리노
20204089,20200109,2020,01,09,친구엄마들:세 친구의 스와핑,SIN TOMONOHAHA 01,카와사키 군지
20194975,20200109,2020,01,09,소녀가 소녀에게,Girls Encounter,에다 유카
20191682,20200109,2020,01,09,몽마르트 파파,Montmartre de Papa,민병우
20193686,20200109,2020,01,09,잠 못 이루는 섹스2 무삭제판,,이민환
20192507,20200110,2020,01,10,도도녀 길들이기,,신성진
20197751,20200110,2020,01,10,무림방주: 절대고수의 탄생,,조지
20193393,20200110,2020,01,10,어린 관리사,,최성은
20193184,20200112,2020,01,12,일 트로바토레,Il Trovatore,프랑코 제피렐리
20196670,20200115,2020,01,15,나쁜 녀석들: 포에버,Bad Boys for Life,아딜 엘 아르비
20183002,20200115,2020,01,15,해치지않아,SECRET ZOO,손재곤
20196674,20200116,2020,01,16,갱,GANG,조바른
20198676,20200116,2020,01,16,타오르는 여인의 초상,Portrait of a Lady on Fire,셀린 시아마
20193478,20200116,2020,01,16,브라 이야기,The Bra,바이트 헬머
20180939,20200122,2020,01,22,남산의 부장들,The Man Standing Next,우민호
20192101,20200122,2020,01,22,히트맨,HITMAN: AGENT JUN,최원섭
20192604,20200122,2020,01,22,오즈의 마법사: 요술구두와 말하는 책,Fantastic Return to OZ,
20188421,20200122,2020,01,22,미스터 주: 사라진 VIP,MR. ZOO: THE MISSING VIP,김태윤
20190009,20200130,2020,01,30,카잔자키스,Kazantzakis,
20193321,20200212,2020,02,12,정직한 후보,HONEST CANDIDATE,장유정
20192240,20200212,2020,02,12,작은 아씨들,Little Women,그레타 거윅

In [109]:
movieIdInfoURL="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=197f1b2da465d0cf912299543d94f92f&movieCd=20192370"
movieIdPage=urllib.request.urlopen(movieIdInfoURL)

movieIdData=json.loads(movieIdPage.read().decode('utf8'),encoding='utf-8')
movieIdData

{'movieInfoResult': {'movieInfo': {'movieCd': '20192370',
   'movieNm': '디어스킨',
   'movieNmEn': 'Deerskin',
   'movieNmOg': 'Le Daim',
   'showTm': '76',
   'prdtYear': '2019',
   'openDt': '20200101',
   'prdtStatNm': '개봉',
   'typeNm': '장편',
   'nations': [{'nationNm': '프랑스'}],
   'genres': [{'genreNm': '스릴러'}],
   'directors': [],
   'actors': [{'peopleNm': '장 뒤자르댕',
     'peopleNmEn': 'Jean Dujardin',
     'cast': '',
     'castEn': ''},
    {'peopleNm': '아델 에넬',
     'peopleNmEn': 'Adele Haenel',
     'cast': '',
     'castEn': ''}],
   'showTypes': [{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'}],
   'companys': [{'companyCd': '20168613',
     'companyNm': 'M&M 인터내셔널',
     'companyNmEn': 'M&M International',
     'companyPartNm': '배급사'},
    {'companyCd': '20168613',
     'companyNm': 'M&M 인터내셔널',
     'companyNmEn': 'M&M International',
     'companyPartNm': '수입사'}],
   'audits': [{'auditNo': '2019-MF02521', 'watchGradeNm': '청소년관람불가'}],
   'staffs': []},
  'source': '영화진흥위원회'}}

In [110]:
print(movieIdData["movieInfoResult"]["movieInfo"]["typeNm"])
print(movieIdData["movieInfoResult"]["movieInfo"]["actors"][0]["cast"])
print(movieIdData["movieInfoResult"]["movieInfo"]["actors"][0]["peopleNm"])
print(len(movieIdData["movieInfoResult"]["movieInfo"]["actors"]))

장편

장 뒤자르댕
2

In [112]:
movieIdDF["type"] =""
movieIdDF["ActorNum"] =""
movieIdDF["cast"] =""
movieIdDF["cast_peopleNm"] =""

for i in range(0,40):
    # 데이터 담기
    detailedUrl="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=197f1b2da465d0cf912299543d94f92f&movieCd="+ movieIdDF.index[i]
    movieIdDetailedPage=urllib.request.urlopen(detailedUrl)
    movieIdDetailedData=json.loads(movieIdDetailedPage.read().decode('utf8'),encoding='utf-8')
    movieIdDF.iat[i,movieIdDF.columns.get_loc("type")]=movieIdDetailedData["movieInfoResult"]["movieInfo"]["typeNm"]
    movieIdDF.iat[i,movieIdDF.columns.get_loc("ActorNum")]=len(movieIdDetailedData["movieInfoResult"]["movieInfo"]["actors"])
    if len(movieIdDetailedData["movieInfoResult"]["movieInfo"]["actors"]) != 0:
        movieIdDF.iat[i,movieIdDF.columns.get_loc("cast")]=movieIdDetailedData["movieInfoResult"]["movieInfo"]["actors"][0]["cast"]
        movieIdDF.iat[i,movieIdDF.columns.get_loc("cast_peopleNm")]=movieIdDetailedData["movieInfoResult"]["movieInfo"]["actors"][0]["peopleNm"]
    else:
        movieIdDF.iat[i,movieIdDF.columns.get_loc("cast")] = ""
        movieIdDF.iat[i,movieIdDF.columns.get_loc("cast_peopleNm")] = ""

movieIdDF.head()

,openDt,year,month,day,movieNm,movieNmEn,directorpeopleNm,type,ActorNum,cast,cast_peopleNm
movieCd,,,,,,,,,,,
20192370,20200101,2020,01,01,디어스킨,Deerskin,,장편,2,,장 뒤자르댕
20124722,20200101,2020,01,01,피아니스트의 전설,The Legend Of 1900,쥬세페 토르나토레,장편,3,대니 부드만 T.D. 레몬 나인틴 헌드러드 1900 역,팀 로스
20191035,20200102,2020,01,02,무한정사,,최재후,장편,0,,
20190770,20200102,2020,01,02,어린 이모 3,,,장편,0,,
20193870,20200106,2020,01,06,데릴사위 : 젊은 장모를 탐하다,,최민현,장편,0,,

In [118]:
for i in movieIdDF.index: # at(가로줄은 i, 세로줄은 컬럼이름)
    detailedUrl="http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=197f1b2da465d0cf912299543d94f92f&movieCd="+i
    movieIdDetailedPage=urllib.request.urlopen(detailedUrl)
    movieIdDetailedData=json.loads(movieIdDetailedPage.read().decode('utf8'),encoding='utf-8')
    movieIdDF.at[i,"type"]=movieIdDetailedData["movieInfoResult"]["movieInfo"]["typeNm"]
    movieIdDF.at[i,"ActorNum"]=len(movieIdDetailedData["movieInfoResult"]["movieInfo"]["actors"])
    if len(movieIdDetailedData["movieInfoResult"]["movieInfo"]["actors"]) != 0:
        movieIdDF.at[i,"cast"]=movieIdDetailedData["movieInfoResult"]["movieInfo"]["actors"][0]["cast"]
        movieIdDF.at[i,"cast_peopleNm"]=movieIdDetailedData["movieInfoResult"]["movieInfo"]["actors"][0]["peopleNm"]
    else:
        movieIdDF.at[i,"cast"] = ""
        movieIdDF.at[i,"cast_peopleNm"] = ""

movieIdDF

,openDt,year,month,day,movieNm,movieNmEn,directorpeopleNm,type,ActorNum,cast,cast_peopleNm
movieCd,,,,,,,,,,,
20192370,20200101,2020,01,01,디어스킨,Deerskin,,장편,2,,장 뒤자르댕
20124722,20200101,2020,01,01,피아니스트의 전설,The Legend Of 1900,쥬세페 토르나토레,장편,3,대니 부드만 T.D. 레몬 나인틴 헌드러드 1900 역,팀 로스
20191035,20200102,2020,01,02,무한정사,,최재후,장편,0,,
20190770,20200102,2020,01,02,어린 이모 3,,,장편,0,,
20193870,20200106,2020,01,06,데릴사위 : 젊은 장모를 탐하다,,최민현,장편,0,,
20193691,20200107,2020,01,07,스와핑 동창회,,김석만,장편,1,,배유정
20196161,20200108,2020,01,08,타발루가와 얼음공주,TABALUGA,스벤 운터발트 주니어,장편,6,,김혜성
20195462,20200108,2020,01,08,스타워즈: 라이즈 오브 스카이워커,Star Wars: The Rise of Skywalker,J.J. 에이브럼스,장편,4,,데이지 리들리
20196842,20200108,2020,01,08,걸즈 앤 판처 최종장 제1화,GIRLS und PANZER das FINALE : Part I,미즈시마 츠토무,장편,5,,후치가미 마이
20203922,20200108,2020,01,08,아내의유혹-무삭제,,천성준,장편,0,,
20199581,20200108,2020,01,08,닥터 두리틀,Dolittle,스티븐 개건,장편,13,,로버트 다우니 주니어
20193686,20200109,2020,01,09,잠 못 이루는 섹스2 무삭제판,,이민환,장편,0,,
20191682,20200109,2020,01,09,몽마르트 파파,Montmartre de Papa,민병우,장편,3,아버지,민형식
20194975,20200109,2020,01,09,소녀가 소녀에게,Girls Encounter,에다 유카,장편,0,,
20204089,20200109,2020,01,09,친구엄마들:세 친구의 스와핑,SIN TOMONOHAHA 01,카와사키 군지,장편,0,,
20190562,20200109,2020,01,09,울지마 톤즈 2 : 슈크란 바바,,강성옥,장편,1,,이금희
20204090,20200109,2020,01,09,애인:일본 유부녀들,KYAKUTONERUTUMA,카와사키 군지,장편,0,,
20191311,20200109,2020,01,09,차일드 인 타임,The Child in Time,줄리언 파리노,장편,4,,베네딕트 컴버배치
20193524,20200109,2020,01,09,수상한동거,,원명준,장편,0,,
20197972,20200109,2020,01,09,리틀 큐,Little Q,나영창,장편,2,,임달화
20204060,20200109,2020,01,09,나쁜 섹스:겁탈 당한 아내3,OKASARETEMOWASURENAI-01,하라다 칸토나,장편,0,,
20204101,20200109,2020,01,09,꼬치집:과부 여주인,KANASIMIYOKOTYOUNOONNA,카와사키 군지,장편,0,,
20190740,20200109,2020,01,09,어린 처형 3,,정진호,장편,0,,
20190851,20200109,2020,01,09,썩시드,SUCKSEED,차야놉 분프라콥,장편,0,,
20192507,20200110,2020,01,10,도도녀 길들이기,,신성진,장편,0,,
20197751,20200110,2020,01,10,무림방주: 절대고수의 탄생,,조지,장편,1,,황건
20193393,20200110,2020,01,10,어린 관리사,,최성은,장편,0,,
20193184,20200112,2020,01,12,일 트로바토레,Il Trovatore,프랑코 제피렐리,장편,1,,안나 네트렙코
20183002,20200115,2020,01,15,해치지않아,SECRET ZOO,손재곤,장편,8,태수,안재홍
20196670,20200115,2020,01,15,나쁜 녀석들: 포에버,Bad Boys for Life,아딜 엘 아르비,장편,3,,윌 스미스
20196674,20200116,2020,01,16,갱,GANG,조바른,장편,9,,차지혁
20198676,20200116,2020,01,16,타오르는 여인의 초상,Portrait of a Lady on Fire,셀린 시아마,장편,2,,아델 에넬
20193478,20200116,2020,01,16,브라 이야기,The Bra,바이트 헬머,장편,5,눌란,파즈 베가
20180939,20200122,2020,01,22,남산의 부장들,The Man Standing Next,우민호,장편,8,김규평,이병헌
20192101,20200122,2020,01,22,히트맨,HITMAN: AGENT JUN,최원섭,장편,10,준,권상우
20192604,20200122,2020,01,22,오즈의 마법사: 요술구두와 말하는 책,Fantastic Return to OZ,,장편,0,,
20188421,20200122,2020,01,22,미스터 주: 사라진 VIP,MR. ZOO: THE MISSING VIP,김태윤,장편,14,주태주,이성민
20190009,20200130,2020,01,30,카잔자키스,Kazantzakis,,장편,1,,오디세즈 파파스필리오풀로스
20193321,20200212,2020,02,12,정직한 후보,HONEST CANDIDATE,장유정,장편,13,,라미란
20192240,20200212,2020,02,12,작은 아씨들,Little Women,그레타 거윅,장편,7,,시얼샤 로넌

In [113]:
movieIdDF.index

Index(['20192370', '20124722', '20191035', '20190770', '20193870', '20193691',
       '20196161', '20195462', '20196842', '20203922', '20199581', '20193686',
       '20191682', '20194975', '20204089', '20190562', '20204090', '20191311',
       '20193524', '20197972', '20204060', '20204101', '20190740', '20190851',
       '20192507', '20197751', '20193393', '20193184', '20183002', '20196670',
       '20196674', '20198676', '20193478', '20180939', '20192101', '20192604',
       '20188421', '20190009', '20193321', '20192240'],
      dtype='object', name='movieCd')