In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

#### 데이터 불러오기

In [2]:
data=pd.read_csv("C:\\Users\\1-10\\Desktop\\python\\04_Titanic\\titanic_train.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### 전처리

In [7]:
# 레이블 인코딩
from sklearn.preprocessing import LabelEncoder 
# 문자를 0부터 시작하는 정수형 숫자로 변환

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
from sklearn import preprocessing

In [99]:
# NA 채우기
def titanic_fillna(data):
    data["Age"].fillna(data["Age"].mean(), inplace=True)
    data["Cabin"].fillna("N", inplace=True)
    data["Embarked"].fillna("N", inplace=True)
    data["Fare"].fillna(0, inplace=True)
    return data

In [100]:
# 필요없는 컬럼 지우기
def drop_feature(data):
    data.drop(["PassengerId","Name","Ticket"], axis=1, inplace=True)
    return data

In [101]:
str(data["Cabin"][1])[:1]

'C'

In [102]:
# 인코딩
def format_features(data):
    # Cabin에서 필요한 정보 변형
    data.loc[:,"Cabin"]=data.loc[:,"Cabin"].apply(lambda x : str(x)[:1])
    
    # 컬럼 변경
    features=["Cabin","Sex","Embarked"]
    for feature in features:
        # 각 컬럼별로 수행할 인코더 설정 
        le=preprocessing.LabelEncoder()
        # 인코딩할 컬럼 설정 및 학습 수행 -> fit
        le=le.fit(data.loc[:,feature])
        # 실제 학습한 내용 적용 -> transform
        data.loc[:, feature]=le.transform(data.loc[:,feature])
    return data

#### 위의 전처리들을 하나의 함수로 묶는 부분

In [103]:
def titanic_transform(data):
    data=titanic_fillna(data)
    data=drop_feature(data)
    data=format_features(data)
    return data

#### 다시 처음부터 데이터 불러오기

In [104]:
data_train=pd.read_csv("C:\\Users\\1-10\\Desktop\\python\\04_Titanic\\titanic_train.csv")

In [105]:
y_titanic_train=data_train.loc[:,"Survived"]
X_titanic_train=data_train.drop("Survived", axis=1)

In [106]:
X_titanic_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
X_titanic_train=titanic_transform(X_titanic_train)

In [110]:
X_titanic_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       3    1  22.0      1      0   7.2500      7         3
1       1    0  38.0      1      0  71.2833      2         0
2       3    0  26.0      0      0   7.9250      7         3
3       1    0  35.0      1      0  53.1000      2         3
4       3    1  35.0      0      0   8.0500      7         3

#### 데이터 분리

In [111]:
from sklearn.model_selection import train_test_split

##### 그냥 분리

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X_titanic_train, y_titanic_train, test_size=0.3, random_state=1234)

In [113]:
# train set 비율 확인
y_titanic_train.value_counts()/len(y_titanic_train)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [115]:
# 원본 비율 확인
y_train.value_counts()/len(y_train)

0    0.616372
1    0.383628
Name: Survived, dtype: float64

In [116]:
y_test.value_counts()/len(y_test)

0    0.615672
1    0.384328
Name: Survived, dtype: float64

#### 비율 유지하는 stratify 사용 -> 불균형 데이터의 경우

In [114]:
X_train, X_test, y_train, y_test = train_test_split(X_titanic_train, y_titanic_train, test_size=0.3, stratify=y_titanic_train, random_state=1234)

In [117]:
# 비율 확인 -> 원본 비율을 거의 유지하는 식으로 샘플링
y_titanic_train.value_counts()/len(y_titanic_train)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [118]:
y_train.value_counts()/len(y_train)

0    0.616372
1    0.383628
Name: Survived, dtype: float64

In [119]:
y_test.value_counts()/len(y_test)

0    0.615672
1    0.384328
Name: Survived, dtype: float64

### KNN

In [120]:
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [121]:
knn=KNeighborsClassifier()

In [122]:
scores=cross_val_score(knn, X_train,y_train,cv=5)

for iter_count, accuracy in enumerate(scores):
    print("knn 교차 검증 {0} & 정확도 {1:.4f}".format(iter_count, accuracy))
print("----------------------------------------")
# print("교차 검증 평균 정확도 :" ,scores.mean())
print("knn 교차 검증 평균 정확도 :{0:.4f}".format(scores.mean()) )

knn 교차 검증 0 & 정확도 0.7360
knn 교차 검증 1 & 정확도 0.7200
knn 교차 검증 2 & 정확도 0.6560
knn 교차 검증 3 & 정확도 0.6960
knn 교차 검증 4 & 정확도 0.6829
----------------------------------------
knn 교차 검증 평균 정확도 :0.6982

In [123]:
parameters={"n_neighbors":[1,3,5,7], "weights":["uniform"]}

In [155]:
n_iter_search=10
knn_rgs=RandomizedSearchCV(knn,param_distributions=parameters, cv=7, scoring='accuracy',
                          verbose=1, random_state=1234, n_iter=n_iter_search)

In [156]:
knn_rgs.fit(X_train, y_train)

Fitting 7 folds for each of 3 candidates, totalling 21 fits

C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:266: UserWarning: The total space of parameters 3 is smaller than n_iter=10. Running 3 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:    0.0s finished
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

RandomizedSearchCV(cv=7, error_score='raise-deprecating',
                   estimator=KNeighborsClassifier(algorithm='auto',
                                                  leaf_size=30,
                                                  metric='minkowski',
                                                  metric_params=None,
                                                  n_jobs=None, n_neighbors=5,
                                                  p=2, weights='uniform'),
                   iid='warn', n_iter=10, n_jobs=None,
                   param_distributions={'n_neighbors': [5, 6, 7],
                                        'weights': ['uniform']},
                   pre_dispatch='2*n_jobs', random_state=1234, refit=True,
                   return_train_score=False, scoring='accuracy', verbose=1)

In [157]:
knn_rgs.best_estimator_

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [169]:
# 위의 결과를 따르면 7 주변에서 찾아야하므로 gridsearch 이용
parameters={"n_neighbors":[5,7,9], "weights":["uniform"]}

In [170]:
grid_knn_clf=GridSearchCV(knn, param_grid=parameters, scoring="accuracy", cv=7, n_jobs=-1)

In [171]:
grid_knn_clf.fit(X_train, y_train)

C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=7, error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=-1,
             param_grid={'n_neighbors': [5, 7, 9], 'weights': ['uniform']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [172]:
grid_knn_clf.best_params_

{'n_neighbors': 7, 'weights': 'uniform'}

In [173]:
grid_knn_clf.best_score_

0.7335473515248796

In [174]:
knn_best=grid_knn_clf.best_estimator_

knn_predictions=knn_best.predict(X_test)
accuracy=accuracy_score(y_test,knn_predictions)
print("knn에서 GridSearchCV로 찾은 결과:{0:.4f}".format(accuracy))

knn에서 GridSearchCV로 찾은 결과:0.6828

### Random Forest

In [175]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

In [176]:
RF=RandomForestClassifier()

In [177]:
scores=cross_val_score(RF,X_train,y_train,cv=5)

for iter_count, accuracy in enumerate(scores):
    print("RF 교차 검증 {0} & 정확도 {1:.4f}".format(iter_count, accuracy))
print("--------------------------------------------------------------------")
print("RF 교차 검증 평균 정확도 : {0:.4f}".format(scores.mean()))

RF 교차 검증 0 & 정확도 0.8480
RF 교차 검증 1 & 정확도 0.7920
RF 교차 검증 2 & 정확도 0.8080
RF 교차 검증 3 & 정확도 0.7840
RF 교차 검증 4 & 정확도 0.7154
--------------------------------------------------------------------
RF 교차 검증 평균 정확도 : 0.7895

C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [178]:
parameters={"n_estimators":[100,150,200,250], "criterion" :['gini']}
 
n_iter_search=10
RF_rgs=RandomizedSearchCV(RF, param_distributions=parameters,cv=7,scoring='accuracy',n_jobs=-1,
                          verbose=1,random_state=1234,n_iter=n_iter_search)

In [179]:
RF_rgs.fit(X_train,y_train)

C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:266: UserWarning: The total space of parameters 4 is smaller than n_iter=10. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 7 folds for each of 4 candidates, totalling 28 fits

[Parallel(n_jobs=-1)]: Done  28 out of  28 | elapsed:    1.9s finished

RandomizedSearchCV(cv=7, error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators='warn',
                                                    n_jobs=None,
                                                    oob_score=False,
                                                    random_state=None,
                                                    verbose=0,
                                                    warm_start=False),
                   iid='warn', n_iter=10, n_jobs=-1,
                   param_distributions={'criterion': ['gini'],
                                        'n_estimators': [100, 150, 200, 250]},
                   pre_dispatch='2*n_jobs', random_state=1234, refit=True,
                   return_train_score=False, scoring='accuracy', verbose=1)

In [180]:
RF_rgs.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=250,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [254]:
# 위의 결과 250 주변에서 찾아야하므로 gridsearch 이용
parameters={"n_estimators":[230,240,250,260], "criterion":["gini"]}

In [255]:
grid_RF_clf=GridSearchCV(RF, param_grid=parameters, scoring="accuracy", cv=5, n_jobs=-1)

In [256]:
grid_RF_clf.fit(X_train, y_train)

C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['gini'],
                         'n_estimators': [230, 240, 250, 260]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [257]:
grid_RF_clf.best_params_

{'criterion': 'gini', 'n_estimators': 260}

In [258]:
grid_RF_clf.best_score_

0.8025682182985554

In [259]:
RF_best=grid_RF_clf.best_estimator_

In [260]:
RF_predictions=RF_best.predict(X_test)
accuracy=accuracy_score(y_test,RF_predictions)
print("RF에서 GridSearchCV로 찾은 결과:{0:.4f}".format(accuracy))

RF에서 GridSearchCV로 찾은 결과:0.7836

### SVM

In [224]:
from sklearn.svm import SVC
from sklearn import metrics

In [225]:
svc=SVC()

In [226]:
scores=cross_val_score(svc, X_train, y_train, cv=7)

for iter_count, accuracy in enumerate(scores):
    print("SVM 교차 검증 {0} & 정확도 {1:.4f}".format(iter_count, accuracy))
print("--------------------------------------------------------------------")
print("SVM 교차 검증 평균 정확도 : {0:.4f}".format(scores.mean()))

SVM 교차 검증 0 & 정확도 0.7111
SVM 교차 검증 1 & 정확도 0.7303
SVM 교차 검증 2 & 정확도 0.7640
SVM 교차 검증 3 & 정확도 0.6966
SVM 교차 검증 4 & 정확도 0.6404
SVM 교차 검증 5 & 정확도 0.7416
SVM 교차 검증 6 & 정확도 0.6477
--------------------------------------------------------------------
SVM 교차 검증 평균 정확도 : 0.7046

C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [240]:
parameters={"C":[0.8, 1, 1.2], "kernel" :['linear']}

n_iter_search=10
svc_rgs=RandomizedSearchCV(svc, param_distributions=parameters,cv=7,scoring='accuracy',n_jobs=-1,
                          verbose=1,random_state=1234,n_iter=n_iter_search)

In [241]:
svc_rgs.fit(X_train, y_train)

C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:266: UserWarning: The total space of parameters 3 is smaller than n_iter=10. Running 3 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 7 folds for each of 3 candidates, totalling 21 fits

[Parallel(n_jobs=-1)]: Done   6 out of  21 | elapsed:    1.1s remaining:    2.9s
[Parallel(n_jobs=-1)]: Done  21 out of  21 | elapsed:   11.2s finished

RandomizedSearchCV(cv=7, error_score='raise-deprecating',
                   estimator=SVC(C=1.0, cache_size=200, class_weight=None,
                                 coef0=0.0, decision_function_shape='ovr',
                                 degree=3, gamma='auto_deprecated',
                                 kernel='rbf', max_iter=-1, probability=False,
                                 random_state=None, shrinking=True, tol=0.001,
                                 verbose=False),
                   iid='warn', n_iter=10, n_jobs=-1,
                   param_distributions={'C': [0.8, 1, 1.2],
                                        'kernel': ['linear']},
                   pre_dispatch='2*n_jobs', random_state=1234, refit=True,
                   return_train_score=False, scoring='accuracy', verbose=1)

In [242]:
svc_rgs.best_estimator_

SVC(C=0.8, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [246]:
# gridsearch 사용
parameters={"C":[0.6,0.7,0.8,0.9], "kernel":["linear"]}

In [247]:
grid_svc_clf=GridSearchCV(svc, param_grid=parameters, scoring='accuracy',
                          cv=7, n_jobs=-1)

In [248]:
grid_svc_clf.fit(X_train, y_train)

GridSearchCV(cv=7, error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto_deprecated', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': [0.6, 0.7, 0.8, 0.9], 'kernel': ['linear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [249]:
grid_svc_clf.best_params_

{'C': 0.6, 'kernel': 'linear'}

In [250]:
grid_svc_clf.best_score_

0.7817014446227929

In [251]:
svc_best=grid_svc_clf.best_estimator_

svc_predictions=svc_best.predict(X_test)

In [252]:
accuracy=accuracy_score(y_test, svc_predictions)
print("svm_model에서 GridSearchCV로 찾은 결과 : {0:.4f}".format(accuracy))

svm_model에서 GridSearchCV로 찾은 결과 : 0.7948

### 모델 저장 및 로드

In [261]:
from joblib import dump, load

In [262]:
dump(RF_best, 'RF_best.pkl')

['RF_best.pkl']

In [263]:
RF_best_p=load('RF_best.pkl')
RF_best_p

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=260,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [264]:
print(X_test.shape)

print((RF_best.predict(X_test)==RF_best_p.predict(X_test)).sum())

(268, 8)
268

In [265]:
dump(knn_best, 'knn_best.pkl')

['knn_best.pkl']

In [268]:
knn_best_p=load('knn_best.pkl')
knn_best_p

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [269]:
print(X_test.shape)
print((knn_best.predict(X_test)==knn_best_p.predict(X_test)).sum())

(268, 8)
268

In [266]:
dump(svc_best, 'svc_best.pkl')

['svc_best.pkl']

In [270]:
svc_best_p=load('svc_best.pkl')
svc_best_p

SVC(C=0.6, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [271]:
print(X_test.shape)
print((svc_best.predict(X_test)==svc_best_p.predict(X_test)).sum())

(268, 8)
268

### voting

In [267]:
from sklearn.ensemble import VotingClassifier

In [274]:
eclf=VotingClassifier(estimators=[('knn', knn_best),('rf',RF_best),('svm',svc_best)],
                     voting='hard')
eclf.fit(X_train, y_train)
eclf_pred=eclf.predict(X_test)
accuracy=accuracy_score(y_test, eclf_pred)
print("Hard Voting으로 찾은 결과: {0:.4f}".format(accuracy))

Hard Voting으로 찾은 결과: 0.7836

In [275]:
x_test_model_total=X_test.copy(deep=True)
x_test_model_total['knn']=knn_best.predict(X_test)
x_test_model_total['rf']=RF_best.predict(X_test)
x_test_model_total['svm']=svc_best.predict(X_test)

In [276]:
x_test_model_total.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,knn,rf,svm
132,3,0,47.000000,1,0,14.5000,7,3,0,0,1
409,3,0,29.699118,3,1,25.4667,7,3,0,0,1
247,2,0,24.000000,0,2,14.5000,7,3,0,1,1
158,3,1,29.699118,0,0,8.6625,7,3,0,0,0
791,2,1,16.000000,0,0,26.0000,7,3,1,0,0

In [277]:
len(x_test_model_total)

268

#### voting 함수 만들기

In [278]:
import collections, numpy

In [302]:
p=collections.Counter(x_test_model_total['rf'])

In [303]:
def vote_func(x, best_model_idx=0):
    p=collections.Counter(x)
    
    if p.most_common()[0][1]>=2:
        return(p.most_common()[0][0])
    else:
        print("check vote index!!")
        return(x[best_model_idx])

In [304]:
x_test_model_total['ensemble'] = x_test_model_total.loc[:,['knn','rf','svm']].apply(lambda x: vote_func(x), axis=1)

In [305]:
# 진짜 정답지 컬럼 하나 더 추가
x_test_model_total['y_real'] = y_test

In [306]:
show_col_list = ['knn','rf','svm','ensemble','y_real']

x_test_model_total.loc[:,show_col_list]

     knn  rf  svm  ensemble  y_real
132    0   0    1         0       0
409    0   0    1         0       0
247    0   1    1         1       1
158    0   0    0         0       0
791    1   0    0         0       0
..   ...  ..  ...       ...     ...
505    1   1    0         1       0
829    1   1    1         1       1
671    1   1    0         1       0
5      0   0    0         0       0
459    0   0    0         0       0

[268 rows x 5 columns]