In [74]:
import pandas as pd
import numpy as np

In [75]:
pm1=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2017\\2017-1.xlsx")

In [3]:
# pm1=pm1.drop(['측정소코드','측정소명','주소'],axis=1)

In [4]:
pm1.head()

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,111121,중구,2017010101,0.006,1.3,0.002,0.068,77.0,63.0,서울 중구 덕수궁길 15
1,서울 중구,111121,중구,2017010102,0.006,1.4,0.002,0.066,76.0,63.0,서울 중구 덕수궁길 15
2,서울 중구,111121,중구,2017010103,0.005,1.2,0.002,0.063,73.0,57.0,서울 중구 덕수궁길 15
3,서울 중구,111121,중구,2017010104,0.005,1.1,0.002,0.053,67.0,55.0,서울 중구 덕수궁길 15
4,서울 중구,111121,중구,2017010105,0.004,1.1,0.002,0.051,66.0,54.0,서울 중구 덕수궁길 15

In [76]:
pm1['시']=pm1['지역'].apply(lambda x : x[:2])
pm1.head()

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시
0,서울 중구,111121,중구,2017010101,0.006,1.3,0.002,0.068,77.0,63.0,서울 중구 덕수궁길 15,서울
1,서울 중구,111121,중구,2017010102,0.006,1.4,0.002,0.066,76.0,63.0,서울 중구 덕수궁길 15,서울
2,서울 중구,111121,중구,2017010103,0.005,1.2,0.002,0.063,73.0,57.0,서울 중구 덕수궁길 15,서울
3,서울 중구,111121,중구,2017010104,0.005,1.1,0.002,0.053,67.0,55.0,서울 중구 덕수궁길 15,서울
4,서울 중구,111121,중구,2017010105,0.004,1.1,0.002,0.051,66.0,54.0,서울 중구 덕수궁길 15,서울

In [77]:
pm1['구']=pm1['지역'].apply(lambda x : x[3:6])
pm1

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구
0,서울 중구,111121,중구,2017010101,0.0060,1.3,0.002,0.0680,77.0,63.0,서울 중구 덕수궁길 15,서울,중구
1,서울 중구,111121,중구,2017010102,0.0060,1.4,0.002,0.0660,76.0,63.0,서울 중구 덕수궁길 15,서울,중구
2,서울 중구,111121,중구,2017010103,0.0050,1.2,0.002,0.0630,73.0,57.0,서울 중구 덕수궁길 15,서울,중구
3,서울 중구,111121,중구,2017010104,0.0050,1.1,0.002,0.0530,67.0,55.0,서울 중구 덕수궁길 15,서울,중구
4,서울 중구,111121,중구,2017010105,0.0040,1.1,0.002,0.0510,66.0,54.0,서울 중구 덕수궁길 15,서울,중구
...,...,...,...,...,...,...,...,...,...,...,...,...,...
693370,인천 옹진군,831492,백령도,2017033120,0.0029,0.3,0.065,0.0056,49.0,39.0,인천 옹진군 백령면 연화리,인천,옹진군
693371,인천 옹진군,831492,백령도,2017033121,0.0029,0.3,0.069,0.0057,67.0,51.0,인천 옹진군 백령면 연화리,인천,옹진군
693372,인천 옹진군,831492,백령도,2017033122,0.0025,0.2,0.070,0.0059,71.0,49.0,인천 옹진군 백령면 연화리,인천,옹진군
693373,인천 옹진군,831492,백령도,2017033123,0.0020,0.2,0.070,0.0058,67.0,52.0,인천 옹진군 백령면 연화리,인천,옹진군
693374,인천 옹진군,831492,백령도,2017033124,0.0025,0.2,0.072,0.0058,75.0,50.0,인천 옹진군 백령면 연화리,인천,옹진군

In [7]:
pm1.head()

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구
0,서울 중구,111121,중구,2017010101,0.006,1.3,0.002,0.068,77.0,63.0,서울 중구 덕수궁길 15,서울,중구
1,서울 중구,111121,중구,2017010102,0.006,1.4,0.002,0.066,76.0,63.0,서울 중구 덕수궁길 15,서울,중구
2,서울 중구,111121,중구,2017010103,0.005,1.2,0.002,0.063,73.0,57.0,서울 중구 덕수궁길 15,서울,중구
3,서울 중구,111121,중구,2017010104,0.005,1.1,0.002,0.053,67.0,55.0,서울 중구 덕수궁길 15,서울,중구
4,서울 중구,111121,중구,2017010105,0.004,1.1,0.002,0.051,66.0,54.0,서울 중구 덕수궁길 15,서울,중구

In [8]:
pm1['시'][:84240]

0        서울
1        서울
2        서울
3        서울
4        서울
         ..
84235    서울
84236    서울
84237    서울
84238    서울
84239    서울
Name: 시, Length: 84240, dtype: object

In [9]:
str(pm1['측정일시'][50000])[8:]

'09'

In [10]:
str(pm1['측정일시'][0])[:4]

'2017'

In [78]:
pm1['측정연도']=pm1['측정일시'].apply(lambda x : str(x)[:4])

In [79]:
pm1['측정월']=pm1['측정일시'].apply(lambda x : str(x)[4:6])

In [80]:
pm1['측정일']=pm1['측정일시'].apply(lambda x : str(x)[6:8])

In [81]:
pm1['측정시']= pm1['측정일시'].apply(lambda x : str(x)[8:])

In [15]:
pm1

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시
0,서울 중구,111121,중구,2017010101,0.0060,1.3,0.002,0.0680,77.0,63.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,01
1,서울 중구,111121,중구,2017010102,0.0060,1.4,0.002,0.0660,76.0,63.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,02
2,서울 중구,111121,중구,2017010103,0.0050,1.2,0.002,0.0630,73.0,57.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,03
3,서울 중구,111121,중구,2017010104,0.0050,1.1,0.002,0.0530,67.0,55.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,04
4,서울 중구,111121,중구,2017010105,0.0040,1.1,0.002,0.0510,66.0,54.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693370,인천 옹진군,831492,백령도,2017033120,0.0029,0.3,0.065,0.0056,49.0,39.0,인천 옹진군 백령면 연화리,인천,옹진군,2017,03,31,20
693371,인천 옹진군,831492,백령도,2017033121,0.0029,0.3,0.069,0.0057,67.0,51.0,인천 옹진군 백령면 연화리,인천,옹진군,2017,03,31,21
693372,인천 옹진군,831492,백령도,2017033122,0.0025,0.2,0.070,0.0059,71.0,49.0,인천 옹진군 백령면 연화리,인천,옹진군,2017,03,31,22
693373,인천 옹진군,831492,백령도,2017033123,0.0020,0.2,0.070,0.0058,67.0,52.0,인천 옹진군 백령면 연화리,인천,옹진군,2017,03,31,23
693374,인천 옹진군,831492,백령도,2017033124,0.0025,0.2,0.072,0.0058,75.0,50.0,인천 옹진군 백령면 연화리,인천,옹진군,2017,03,31,24

In [82]:
pm1=pm1[pm1["시"]=="서울"]

In [83]:
pm1['분기']=1

C:\Users\1-10\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [84]:
pm1

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,111121,중구,2017010101,0.006,1.3,0.002,0.068,77.0,63.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,01,1
1,서울 중구,111121,중구,2017010102,0.006,1.4,0.002,0.066,76.0,63.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,02,1
2,서울 중구,111121,중구,2017010103,0.005,1.2,0.002,0.063,73.0,57.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,03,1
3,서울 중구,111121,중구,2017010104,0.005,1.1,0.002,0.053,67.0,55.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,04,1
4,서울 중구,111121,중구,2017010105,0.004,1.1,0.002,0.051,66.0,54.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84235,서울 노원구,111312,화랑로,2017033120,0.003,0.7,0.007,0.054,16.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,03,31,20,1
84236,서울 노원구,111312,화랑로,2017033121,0.003,0.7,0.011,0.050,10.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,03,31,21,1
84237,서울 노원구,111312,화랑로,2017033122,0.003,0.7,0.012,0.049,16.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,03,31,22,1
84238,서울 노원구,111312,화랑로,2017033123,0.003,0.7,0.006,0.052,24.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,03,31,23,1
84239,서울 노원구,111312,화랑로,2017033124,0.003,0.7,0.004,0.047,19.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,03,31,24,1

In [85]:
pm2=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2017\\2017-2.xlsx")

In [21]:
pm2.head()

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,111121,중구,2017040101,0.003,0.5,0.009,0.048,16.0,11.0,서울 중구 덕수궁길 15
1,서울 중구,111121,중구,2017040102,0.002,0.4,0.031,0.024,12.0,9.0,서울 중구 덕수궁길 15
2,서울 중구,111121,중구,2017040103,0.002,0.4,0.030,0.024,10.0,8.0,서울 중구 덕수궁길 15
3,서울 중구,111121,중구,2017040104,0.002,0.4,0.022,0.027,10.0,8.0,서울 중구 덕수궁길 15
4,서울 중구,111121,중구,2017040105,0.002,0.4,0.026,0.023,12.0,8.0,서울 중구 덕수궁길 15

In [86]:
pm2['시']=pm2['지역'].apply(lambda x : x[:2])
pm2.head()

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시
0,서울 중구,111121,중구,2017040101,0.003,0.5,0.009,0.048,16.0,11.0,서울 중구 덕수궁길 15,서울
1,서울 중구,111121,중구,2017040102,0.002,0.4,0.031,0.024,12.0,9.0,서울 중구 덕수궁길 15,서울
2,서울 중구,111121,중구,2017040103,0.002,0.4,0.030,0.024,10.0,8.0,서울 중구 덕수궁길 15,서울
3,서울 중구,111121,중구,2017040104,0.002,0.4,0.022,0.027,10.0,8.0,서울 중구 덕수궁길 15,서울
4,서울 중구,111121,중구,2017040105,0.002,0.4,0.026,0.023,12.0,8.0,서울 중구 덕수궁길 15,서울

In [87]:
pm2['구']=pm2['지역'].apply(lambda x : x[3:6])
pm2.head()

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구
0,서울 중구,111121,중구,2017040101,0.003,0.5,0.009,0.048,16.0,11.0,서울 중구 덕수궁길 15,서울,중구
1,서울 중구,111121,중구,2017040102,0.002,0.4,0.031,0.024,12.0,9.0,서울 중구 덕수궁길 15,서울,중구
2,서울 중구,111121,중구,2017040103,0.002,0.4,0.030,0.024,10.0,8.0,서울 중구 덕수궁길 15,서울,중구
3,서울 중구,111121,중구,2017040104,0.002,0.4,0.022,0.027,10.0,8.0,서울 중구 덕수궁길 15,서울,중구
4,서울 중구,111121,중구,2017040105,0.002,0.4,0.026,0.023,12.0,8.0,서울 중구 덕수궁길 15,서울,중구

In [88]:
pm2['측정연도']=pm2['측정일시'].apply(lambda x : str(x)[:4])

In [89]:
pm2['측정월']=pm2['측정일시'].apply(lambda x : str(x)[4:6])

In [90]:
pm2['측정일']=pm2['측정일시'].apply(lambda x : str(x)[6:8])

In [91]:
pm2['측정시']= pm2['측정일시'].apply(lambda x : str(x)[8:])

In [92]:
pm2=pm2[pm2["시"]=="서울"]
pm2

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시
0,서울 중구,111121,중구,2017040101,0.003,0.5,0.009,0.048,16.0,11.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,01
1,서울 중구,111121,중구,2017040102,0.002,0.4,0.031,0.024,12.0,9.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,02
2,서울 중구,111121,중구,2017040103,0.002,0.4,0.030,0.024,10.0,8.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,03
3,서울 중구,111121,중구,2017040104,0.002,0.4,0.022,0.027,10.0,8.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,04
4,서울 중구,111121,중구,2017040105,0.002,0.4,0.026,0.023,12.0,8.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85171,서울 노원구,111312,화랑로,2017063020,0.003,0.6,0.025,0.053,48.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,20
85172,서울 노원구,111312,화랑로,2017063021,0.003,0.6,0.019,0.050,56.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,21
85173,서울 노원구,111312,화랑로,2017063022,0.003,0.5,0.024,0.035,59.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,22
85174,서울 노원구,111312,화랑로,2017063023,0.003,0.5,0.028,0.027,53.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,23
85175,서울 노원구,111312,화랑로,2017063024,0.003,0.5,0.022,0.030,55.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,24

In [30]:
pm2.drop(['측정소코드','측정일시'],axis=1)

                SO2     CO      O3     NO2     PM10     PM25
측정연도 구   측정월
2017 강남구 04   7.897  772.1  38.371  51.090  84070.0  17283.0
         05   7.822  622.8  43.983  43.422  94676.0  16829.0
         06   6.901  598.0  43.121  42.088  68169.0  15254.0
     강동구 04   5.938  784.2  44.812  52.297  83757.0  18769.0
         05   6.108  686.7  48.585  52.668  97716.0  14628.0
...             ...    ...     ...     ...      ...      ...
     중구  05   4.767  435.0  22.993  30.846  45137.0      0.0
         06   3.791  391.7  23.364  27.356  30640.0      0.0
     중랑구 04   4.256  263.9  24.302  20.758  42333.0  18451.0
         05   4.676  237.1  26.423  22.088  51795.0  19785.0
         06   4.241  212.6  26.615  16.870  30687.0  18029.0

[81 rows x 6 columns]

In [93]:
pm2['분기']=2

In [94]:
pm2

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,111121,중구,2017040101,0.003,0.5,0.009,0.048,16.0,11.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,01,2
1,서울 중구,111121,중구,2017040102,0.002,0.4,0.031,0.024,12.0,9.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,02,2
2,서울 중구,111121,중구,2017040103,0.002,0.4,0.030,0.024,10.0,8.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,03,2
3,서울 중구,111121,중구,2017040104,0.002,0.4,0.022,0.027,10.0,8.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,04,2
4,서울 중구,111121,중구,2017040105,0.002,0.4,0.026,0.023,12.0,8.0,서울 중구 덕수궁길 15,서울,중구,2017,04,01,05,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85171,서울 노원구,111312,화랑로,2017063020,0.003,0.6,0.025,0.053,48.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,20,2
85172,서울 노원구,111312,화랑로,2017063021,0.003,0.6,0.019,0.050,56.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,21,2
85173,서울 노원구,111312,화랑로,2017063022,0.003,0.5,0.024,0.035,59.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,22,2
85174,서울 노원구,111312,화랑로,2017063023,0.003,0.5,0.028,0.027,53.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,23,2
85175,서울 노원구,111312,화랑로,2017063024,0.003,0.5,0.022,0.030,55.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,06,30,24,2

In [95]:
pm3=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2017\\2017-3.xlsx")

In [96]:
pm3['시']=pm3['지역'].apply(lambda x : x[:2])
pm3.head()

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시
0,서울 중구,111121,중구,2017070101,0.002,0.4,0.048,0.014,36.0,29.0,서울 중구 덕수궁길 15,서울
1,서울 중구,111121,중구,2017070102,0.002,0.4,0.038,0.020,35.0,30.0,서울 중구 덕수궁길 15,서울
2,서울 중구,111121,중구,2017070103,0.002,0.5,0.031,0.023,40.0,34.0,서울 중구 덕수궁길 15,서울
3,서울 중구,111121,중구,2017070104,0.003,0.5,0.029,0.023,46.0,35.0,서울 중구 덕수궁길 15,서울
4,서울 중구,111121,중구,2017070105,0.004,0.5,0.023,0.027,49.0,39.0,서울 중구 덕수궁길 15,서울

In [97]:
pm3['구']=pm3['지역'].apply(lambda x : x[3:6])
pm3.head()

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구
0,서울 중구,111121,중구,2017070101,0.002,0.4,0.048,0.014,36.0,29.0,서울 중구 덕수궁길 15,서울,중구
1,서울 중구,111121,중구,2017070102,0.002,0.4,0.038,0.020,35.0,30.0,서울 중구 덕수궁길 15,서울,중구
2,서울 중구,111121,중구,2017070103,0.002,0.5,0.031,0.023,40.0,34.0,서울 중구 덕수궁길 15,서울,중구
3,서울 중구,111121,중구,2017070104,0.003,0.5,0.029,0.023,46.0,35.0,서울 중구 덕수궁길 15,서울,중구
4,서울 중구,111121,중구,2017070105,0.004,0.5,0.023,0.027,49.0,39.0,서울 중구 덕수궁길 15,서울,중구

In [98]:
pm3['측정연도']=pm3['측정일시'].apply(lambda x : str(x)[:4])

In [99]:
pm3['측정월']=pm3['측정일시'].apply(lambda x : str(x)[4:6])

In [100]:
pm3['측정일']=pm3['측정일시'].apply(lambda x : str(x)[6:8])

In [101]:
pm3['측정시']= pm3['측정일시'].apply(lambda x : str(x)[8:])

In [102]:
pm3=pm3[pm3["시"]=="서울"]

In [103]:
pm3['분기']=3

In [104]:
pm3

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,111121,중구,2017070101,0.002,0.4,0.048,0.014,36.0,29.0,서울 중구 덕수궁길 15,서울,중구,2017,07,01,01,3
1,서울 중구,111121,중구,2017070102,0.002,0.4,0.038,0.020,35.0,30.0,서울 중구 덕수궁길 15,서울,중구,2017,07,01,02,3
2,서울 중구,111121,중구,2017070103,0.002,0.5,0.031,0.023,40.0,34.0,서울 중구 덕수궁길 15,서울,중구,2017,07,01,03,3
3,서울 중구,111121,중구,2017070104,0.003,0.5,0.029,0.023,46.0,35.0,서울 중구 덕수궁길 15,서울,중구,2017,07,01,04,3
4,서울 중구,111121,중구,2017070105,0.004,0.5,0.023,0.027,49.0,39.0,서울 중구 덕수궁길 15,서울,중구,2017,07,01,05,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86107,서울 노원구,111312,화랑로,2017093020,0.004,0.9,0.005,0.067,68.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,09,30,20,3
86108,서울 노원구,111312,화랑로,2017093021,0.003,0.8,0.002,0.062,69.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,09,30,21,3
86109,서울 노원구,111312,화랑로,2017093022,0.003,0.8,0.002,0.057,69.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,09,30,22,3
86110,서울 노원구,111312,화랑로,2017093023,0.003,0.9,0.002,0.052,70.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,09,30,23,3
86111,서울 노원구,111312,화랑로,2017093024,0.003,0.8,0.001,0.047,62.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,09,30,24,3

In [ ]:
#pm3.drop(['측정소코드','측정일시'],axis=1)

In [105]:
pm4=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2017\\2017-4.xlsx")

In [106]:
pm4['시']=pm4['지역'].apply(lambda x : x[:2])

In [107]:
pm4['구']=pm4['지역'].apply(lambda x : x[3:6])

In [108]:
pm4['측정연도']=pm4['측정일시'].apply(lambda x : str(x)[:4])

In [109]:
pm4['측정월']=pm4['측정일시'].apply(lambda x : str(x)[4:6])

In [110]:
pm4['측정일']=pm4['측정일시'].apply(lambda x : str(x)[6:8])

In [111]:
pm4['측정시']= pm4['측정일시'].apply(lambda x : str(x)[8:])

In [112]:
pm4=pm4[pm4["시"]=="서울"]

In [113]:
pm4['분기']=4

In [114]:
pm4

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,111121,중구,2017100101,0.004,0.8,0.002,0.065,52.0,34.0,서울 중구 덕수궁길 15,서울,중구,2017,10,01,01,4
1,서울 중구,111121,중구,2017100102,0.004,0.8,0.002,0.060,50.0,32.0,서울 중구 덕수궁길 15,서울,중구,2017,10,01,02,4
2,서울 중구,111121,중구,2017100103,0.003,0.7,0.004,0.052,52.0,33.0,서울 중구 덕수궁길 15,서울,중구,2017,10,01,03,4
3,서울 중구,111121,중구,2017100104,0.003,0.6,0.012,0.039,50.0,32.0,서울 중구 덕수궁길 15,서울,중구,2017,10,01,04,4
4,서울 중구,111121,중구,2017100105,0.003,0.6,0.017,0.028,48.0,30.0,서울 중구 덕수궁길 15,서울,중구,2017,10,01,05,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751672,서울 노원구,111312,화랑로,2017123120,0.004,0.5,0.014,0.030,27.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,20,4
751673,서울 노원구,111312,화랑로,2017123121,0.004,0.5,0.015,0.029,26.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,21,4
751674,서울 노원구,111312,화랑로,2017123122,0.005,0.5,0.014,0.027,35.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,22,4
751675,서울 노원구,111312,화랑로,2017123123,0.005,0.4,0.017,0.024,36.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,23,4
751676,서울 노원구,111312,화랑로,2017123124,0.004,0.4,0.018,0.022,31.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,24,4

In [ ]:
# df=pd.DataFrame()
# df['시']=""
# df['구']=""
# df['측정연도']=""
# df['측정월']=""
# df['SO2']=""
# df['CO']=""
# df['O3']=""
# df['NO2']=""
# df['PM10']=""
# df['PM2.5']=""

# for i in (0,1):
#     df.at[0,'시']=pm10["시"][i]
#     df.at[0,'구']=pm10["구"][i]
#     df.at[0,'측정연도']=pm10["측정연도"][i]
#     df.at[0,'측정월']=pm10["측정월"][i]
#     df.at[0,'SO2']=round(pm10['SO2'].sum(),2)
#     df.at[0,'CO']=round(pm10["CO"].sum(),2)
#     df.at[0,'O3']=round(pm10["O3"].sum(),2)
#     df.at[0,'NO2']=round(pm10["NO2"].sum(),2)
#     df.at[0,'PM10']=round(pm10["PM10"].sum(),2)
#     df.at[0,'PM2.5']=round(pm10["PM25"].sum(),2)

In [174]:
df1=pd.concat([pm1,pm2,pm3,pm4])

In [175]:
df1

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,111121,중구,2017010101,0.006,1.3,0.002,0.068,77.0,63.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,01,1
1,서울 중구,111121,중구,2017010102,0.006,1.4,0.002,0.066,76.0,63.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,02,1
2,서울 중구,111121,중구,2017010103,0.005,1.2,0.002,0.063,73.0,57.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,03,1
3,서울 중구,111121,중구,2017010104,0.005,1.1,0.002,0.053,67.0,55.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,04,1
4,서울 중구,111121,중구,2017010105,0.004,1.1,0.002,0.051,66.0,54.0,서울 중구 덕수궁길 15,서울,중구,2017,01,01,05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751672,서울 노원구,111312,화랑로,2017123120,0.004,0.5,0.014,0.030,27.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,20,4
751673,서울 노원구,111312,화랑로,2017123121,0.004,0.5,0.015,0.029,26.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,21,4
751674,서울 노원구,111312,화랑로,2017123122,0.005,0.5,0.014,0.027,35.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,22,4
751675,서울 노원구,111312,화랑로,2017123123,0.005,0.4,0.017,0.024,36.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,23,4
751676,서울 노원구,111312,화랑로,2017123124,0.004,0.4,0.018,0.022,31.0,NaN,서울 노원구 화랑로 429,서울,노원구,2017,12,31,24,4

In [176]:
df1=df1.groupby(['측정연도','구','측정월','분기']).sum()

In [177]:
df1.drop(['측정소코드','측정일시'],axis=1)

                   SO2     CO      O3     NO2     PM10     PM25
측정연도 구   측정월 분기
2017 강남구 01  1   7.611  971.9  16.635  51.941  83094.0  23218.0
         02  1   7.076  898.5  19.518  49.382  64932.0  18591.0
         03  1   8.347  893.7  27.713  60.692  83257.0  25348.0
         04  2   7.897  772.1  38.371  51.090  84070.0  17283.0
         05  2   7.822  622.8  43.983  43.422  94676.0  16829.0
...                ...    ...     ...     ...      ...      ...
     중랑구 08  3   4.580  263.8  16.193  12.845  15606.0   8337.0
         09  3   4.353  305.7  18.988  16.218  20771.0  11703.0
         10  4   4.350  322.3  14.929  17.286  19126.0   9684.0
         11  4   4.543  400.7   9.661  23.177  26668.0  13492.0
         12  4   4.589  496.3   7.505  26.861  36594.0  21942.0

[324 rows x 6 columns]

In [178]:
df1.isnull().sum()

측정소코드    0
측정일시     0
SO2      0
CO       0
O3       0
NO2      0
PM10     0
PM25     0
dtype: int64

In [221]:
pm5=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2018\\2018-1.xlsx")

In [222]:
pm5['시']=pm5['지역'].apply(lambda x : x[:2])

pm5['구']=pm5['지역'].apply(lambda x : x[3:6])

pm5['측정연도']=pm5['측정일시'].apply(lambda x : str(x)[:4])

pm5['측정월']=pm5['측정일시'].apply(lambda x : str(x)[4:6])

pm5['측정일']=pm5['측정일시'].apply(lambda x : str(x)[6:8])

pm5['측정시']= pm5['측정일시'].apply(lambda x : str(x)[8:])

pm5=pm5[pm5["시"]=="서울"]

pm5['분기']=1

In [223]:
pm5

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,111121,중구,2018010101,0.004,0.5,0.020,0.020,34.0,19.0,서울 중구 덕수궁길 15,서울,중구,2018,01,01,01,1
1,서울 중구,111121,중구,2018010102,0.004,0.4,0.024,0.016,27.0,14.0,서울 중구 덕수궁길 15,서울,중구,2018,01,01,02,1
2,서울 중구,111121,중구,2018010103,0.004,0.4,0.018,0.022,26.0,14.0,서울 중구 덕수궁길 15,서울,중구,2018,01,01,03,1
3,서울 중구,111121,중구,2018010104,0.004,0.5,0.010,0.030,26.0,15.0,서울 중구 덕수궁길 15,서울,중구,2018,01,01,04,1
4,서울 중구,111121,중구,2018010105,0.004,0.6,0.011,0.029,28.0,16.0,서울 중구 덕수궁길 15,서울,중구,2018,01,01,05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84235,서울 노원구,111312,화랑로,2018033120,0.005,0.4,0.029,0.040,71.0,NaN,서울 노원구 화랑로 429,서울,노원구,2018,03,31,20,1
84236,서울 노원구,111312,화랑로,2018033121,0.005,0.4,0.027,0.036,68.0,NaN,서울 노원구 화랑로 429,서울,노원구,2018,03,31,21,1
84237,서울 노원구,111312,화랑로,2018033122,0.005,0.5,0.017,0.046,69.0,NaN,서울 노원구 화랑로 429,서울,노원구,2018,03,31,22,1
84238,서울 노원구,111312,화랑로,2018033123,0.005,0.5,0.015,0.048,60.0,NaN,서울 노원구 화랑로 429,서울,노원구,2018,03,31,23,1
84239,서울 노원구,111312,화랑로,2018033124,0.007,0.5,0.020,0.038,66.0,NaN,서울 노원구 화랑로 429,서울,노원구,2018,03,31,24,1

In [224]:
pm6=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2018\\2018-2.xlsx")

In [225]:
pm6['시']=pm6['지역'].apply(lambda x : x[:2])

pm6['구']=pm6['지역'].apply(lambda x : x[3:6])

pm6['측정연도']=pm6['측정일시'].apply(lambda x : str(x)[:4])

pm6['측정월']=pm6['측정일시'].apply(lambda x : str(x)[4:6])

pm6['측정일']=pm6['측정일시'].apply(lambda x : str(x)[6:8])

pm6['측정시']=pm6['측정일시'].apply(lambda x : str(x)[8:])

pm6=pm6[pm6["시"]=="서울"]

pm6['분기']=2

In [226]:
pm6

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,111121,중구,2018040101,0.005,0.4,0.030,0.032,45.0,22.0,서울 중구 덕수궁길 15,서울,중구,2018,04,01,01,2
1,서울 중구,111121,중구,2018040102,0.005,0.5,0.024,0.034,45.0,22.0,서울 중구 덕수궁길 15,서울,중구,2018,04,01,02,2
2,서울 중구,111121,중구,2018040103,0.005,0.5,0.023,0.032,47.0,26.0,서울 중구 덕수궁길 15,서울,중구,2018,04,01,03,2
3,서울 중구,111121,중구,2018040104,0.005,0.5,0.021,0.030,52.0,25.0,서울 중구 덕수궁길 15,서울,중구,2018,04,01,04,2
4,서울 중구,111121,중구,2018040105,0.005,0.6,0.010,0.042,52.0,25.0,서울 중구 덕수궁길 15,서울,중구,2018,04,01,05,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85171,서울 노원구,111312,화랑로,2018063020,0.003,0.5,0.026,0.050,NaN,NaN,서울 노원구 화랑로 429,서울,노원구,2018,06,30,20,2
85172,서울 노원구,111312,화랑로,2018063021,0.003,0.5,0.024,0.046,NaN,NaN,서울 노원구 화랑로 429,서울,노원구,2018,06,30,21,2
85173,서울 노원구,111312,화랑로,2018063022,0.003,0.6,0.016,0.049,NaN,NaN,서울 노원구 화랑로 429,서울,노원구,2018,06,30,22,2
85174,서울 노원구,111312,화랑로,2018063023,0.003,0.6,0.013,0.048,NaN,NaN,서울 노원구 화랑로 429,서울,노원구,2018,06,30,23,2
85175,서울 노원구,111312,화랑로,2018063024,0.003,0.6,0.013,0.045,NaN,NaN,서울 노원구 화랑로 429,서울,노원구,2018,06,30,24,2

In [227]:
pm7=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2018\\2018-3.xlsx")

In [228]:
pm7['시']=pm7['지역'].apply(lambda x : x[:2])

pm7['구']=pm7['지역'].apply(lambda x : x[3:6])

pm7['측정연도']=pm7['측정일시'].apply(lambda x : str(x)[:4])

pm7['측정월']=pm7['측정일시'].apply(lambda x : str(x)[4:6])

pm7['측정일']=pm7['측정일시'].apply(lambda x : str(x)[6:8])

pm7['측정시']=pm7['측정일시'].apply(lambda x : str(x)[8:])

pm7=pm7[pm7["시"]=="서울"]

pm7['분기']=3

In [229]:
pm7

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,도시대기,111121,중구,2018070101,0.003,0.5,0.012,0.034,24.0,12.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,07,01,01,3
1,서울 중구,도시대기,111121,중구,2018070102,0.002,0.5,0.016,0.026,22.0,14.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,07,01,02,3
2,서울 중구,도시대기,111121,중구,2018070103,0.002,0.4,0.021,0.017,23.0,13.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,07,01,03,3
3,서울 중구,도시대기,111121,중구,2018070104,0.002,0.4,0.019,0.016,21.0,13.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,07,01,04,3
4,서울 중구,도시대기,111121,중구,2018070105,0.002,0.3,0.023,0.013,20.0,13.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,07,01,05,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86107,서울 노원구,도로변대기,111312,화랑로,2018093020,0.003,0.2,0.024,0.019,13.0,5.0,서울 노원구 화랑로 429,서울,노원구,2018,09,30,20,3
86108,서울 노원구,도로변대기,111312,화랑로,2018093021,0.003,0.2,0.024,0.017,25.0,6.0,서울 노원구 화랑로 429,서울,노원구,2018,09,30,21,3
86109,서울 노원구,도로변대기,111312,화랑로,2018093022,0.003,0.3,0.022,0.019,17.0,8.0,서울 노원구 화랑로 429,서울,노원구,2018,09,30,22,3
86110,서울 노원구,도로변대기,111312,화랑로,2018093023,0.003,0.3,0.025,0.016,13.0,7.0,서울 노원구 화랑로 429,서울,노원구,2018,09,30,23,3
86111,서울 노원구,도로변대기,111312,화랑로,2018093024,0.003,0.3,0.022,0.017,13.0,5.0,서울 노원구 화랑로 429,서울,노원구,2018,09,30,24,3

In [230]:
pm8=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2018\\2018-4.xlsx")

In [231]:
pm8['시']=pm8['지역'].apply(lambda x : x[:2])

pm8['구']=pm8['지역'].apply(lambda x : x[3:6])

pm8['측정연도']=pm8['측정일시'].apply(lambda x : str(x)[:4])

pm8['측정월']=pm8['측정일시'].apply(lambda x : str(x)[4:6])

pm8['측정일']=pm8['측정일시'].apply(lambda x : str(x)[6:8])

pm8['측정시']=pm8['측정일시'].apply(lambda x : str(x)[8:])

pm8=pm8[pm8["시"]=="서울"]

pm8['분기']=4

In [232]:
pm8

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시,구,측정연도,측정월,측정일,측정시,분기
0,서울 중구,도시대기,111121,중구,2018100101,0.002,0.3,0.035,0.012,11.0,6.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,10,01,01,4
1,서울 중구,도시대기,111121,중구,2018100102,0.002,0.3,0.037,0.009,12.0,7.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,10,01,02,4
2,서울 중구,도시대기,111121,중구,2018100103,0.002,0.3,0.039,0.006,11.0,8.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,10,01,03,4
3,서울 중구,도시대기,111121,중구,2018100104,0.002,0.3,0.036,0.008,13.0,8.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,10,01,04,4
4,서울 중구,도시대기,111121,중구,2018100105,0.003,0.3,0.034,0.009,13.0,9.0,서울특별시 중구 덕수궁길 15,서울,중구,2018,10,01,05,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87571,서울 노원구,도로변대기,111312,화랑로,2018123120,0.004,0.5,0.005,0.036,35.0,22.0,서울 노원구 화랑로 429,서울,노원구,2018,12,31,20,4
87572,서울 노원구,도로변대기,111312,화랑로,2018123121,0.005,0.9,0.004,0.041,40.0,22.0,서울 노원구 화랑로 429,서울,노원구,2018,12,31,21,4
87573,서울 노원구,도로변대기,111312,화랑로,2018123122,0.005,1.1,0.004,0.044,45.0,23.0,서울 노원구 화랑로 429,서울,노원구,2018,12,31,22,4
87574,서울 노원구,도로변대기,111312,화랑로,2018123123,0.005,1.0,0.004,0.040,51.0,23.0,서울 노원구 화랑로 429,서울,노원구,2018,12,31,23,4
87575,서울 노원구,도로변대기,111312,화랑로,2018123124,0.005,1.0,0.004,0.037,43.0,26.0,서울 노원구 화랑로 429,서울,노원구,2018,12,31,24,4

In [250]:
df2=pd.concat([pm5,pm6,pm7,pm8], sort=True)

In [251]:
df2

,CO,NO2,O3,PM10,PM25,SO2,구,망,분기,시,주소,지역,측정소명,측정소코드,측정시,측정연도,측정월,측정일,측정일시
0,0.5,0.020,0.020,34.0,19.0,0.004,중구,NaN,1,서울,서울 중구 덕수궁길 15,서울 중구,중구,111121,01,2018,01,01,2018010101
1,0.4,0.016,0.024,27.0,14.0,0.004,중구,NaN,1,서울,서울 중구 덕수궁길 15,서울 중구,중구,111121,02,2018,01,01,2018010102
2,0.4,0.022,0.018,26.0,14.0,0.004,중구,NaN,1,서울,서울 중구 덕수궁길 15,서울 중구,중구,111121,03,2018,01,01,2018010103
3,0.5,0.030,0.010,26.0,15.0,0.004,중구,NaN,1,서울,서울 중구 덕수궁길 15,서울 중구,중구,111121,04,2018,01,01,2018010104
4,0.6,0.029,0.011,28.0,16.0,0.004,중구,NaN,1,서울,서울 중구 덕수궁길 15,서울 중구,중구,111121,05,2018,01,01,2018010105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87571,0.5,0.036,0.005,35.0,22.0,0.004,노원구,도로변대기,4,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,20,2018,12,31,2018123120
87572,0.9,0.041,0.004,40.0,22.0,0.005,노원구,도로변대기,4,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,21,2018,12,31,2018123121
87573,1.1,0.044,0.004,45.0,23.0,0.005,노원구,도로변대기,4,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,22,2018,12,31,2018123122
87574,1.0,0.040,0.004,51.0,23.0,0.005,노원구,도로변대기,4,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,23,2018,12,31,2018123123
87575,1.0,0.037,0.004,43.0,26.0,0.005,노원구,도로변대기,4,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,24,2018,12,31,2018123124

In [252]:
df2_group=df2.groupby(['측정연도','구','측정월','분기']).sum()

In [255]:
df2["측정연도"].value_counts()

2018    343104
Name: 측정연도, dtype: int64

In [190]:
pm9=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-1.xlsx")

In [191]:
pm9['시']=pm9['지역'].apply(lambda x : x[:2])

pm9['구']=pm9['지역'].apply(lambda x : x[3:6])

pm9['측정연도']=pm9['측정일시'].apply(lambda x : str(x)[:4])

pm9['측정월']=pm9['측정일시'].apply(lambda x : str(x)[4:6])

pm9['측정일']=pm9['측정일시'].apply(lambda x : str(x)[6:8])

pm9['측정시']=pm9['측정일시'].apply(lambda x : str(x)[8:])

pm9=pm9[pm9["시"]=="서울"]

pm9['분기']=1

In [193]:
pm10=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-2.xlsx")

In [194]:
pm10['시']=pm10['지역'].apply(lambda x : x[:2])

pm10['구']=pm10['지역'].apply(lambda x : x[3:6])

pm10['측정연도']=pm10['측정일시'].apply(lambda x : str(x)[:4])

pm10['측정월']=pm10['측정일시'].apply(lambda x : str(x)[4:6])

pm10['측정일']=pm10['측정일시'].apply(lambda x : str(x)[6:8])

pm10['측정시']=pm10['측정일시'].apply(lambda x : str(x)[8:])

pm10=pm10[pm10["시"]=="서울"]

pm10['분기']=1

In [196]:
pm11=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-3.xlsx")

In [197]:
pm11['시']=pm11['지역'].apply(lambda x : x[:2])

pm11['구']=pm11['지역'].apply(lambda x : x[3:6])

pm11['측정연도']=pm11['측정일시'].apply(lambda x : str(x)[:4])

pm11['측정월']=pm11['측정일시'].apply(lambda x : str(x)[4:6])

pm11['측정일']=pm11['측정일시'].apply(lambda x : str(x)[6:8])

pm11['측정시']=pm11['측정일시'].apply(lambda x : str(x)[8:])

pm11=pm11[pm11["시"]=="서울"]

pm11['분기']=1

In [199]:
pm12=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-4.xlsx")

In [200]:
pm12['시']=pm12['지역'].apply(lambda x : x[:2])

pm12['구']=pm12['지역'].apply(lambda x : x[3:6])

pm12['측정연도']=pm12['측정일시'].apply(lambda x : str(x)[:4])

pm12['측정월']=pm12['측정일시'].apply(lambda x : str(x)[4:6])

pm12['측정일']=pm12['측정일시'].apply(lambda x : str(x)[6:8])

pm12['측정시']=pm12['측정일시'].apply(lambda x : str(x)[8:])

pm12=pm12[pm12["시"]=="서울"]

pm12['분기']=2

In [201]:
pm13=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-5.xlsx")

In [202]:
pm13['시']=pm13['지역'].apply(lambda x : x[:2])

pm13['구']=pm13['지역'].apply(lambda x : x[3:6])

pm13['측정연도']=pm13['측정일시'].apply(lambda x : str(x)[:4])

pm13['측정월']=pm13['측정일시'].apply(lambda x : str(x)[4:6])

pm13['측정일']=pm13['측정일시'].apply(lambda x : str(x)[6:8])

pm13['측정시']=pm13['측정일시'].apply(lambda x : str(x)[8:])

pm13=pm13[pm13["시"]=="서울"]

pm13['분기']=2

In [203]:
pm14=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-6.xlsx")

In [204]:
pm14['시']=pm14['지역'].apply(lambda x : x[:2])

pm14['구']=pm14['지역'].apply(lambda x : x[3:6])

pm14['측정연도']=pm14['측정일시'].apply(lambda x : str(x)[:4])

pm14['측정월']=pm14['측정일시'].apply(lambda x : str(x)[4:6])

pm14['측정일']=pm14['측정일시'].apply(lambda x : str(x)[6:8])

pm14['측정시']=pm14['측정일시'].apply(lambda x : str(x)[8:])

pm14=pm14[pm14["시"]=="서울"]

pm14['분기']=2

In [205]:
pm15=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-7.xlsx")

In [206]:
pm15['시']=pm15['지역'].apply(lambda x : x[:2])

pm15['구']=pm15['지역'].apply(lambda x : x[3:6])

pm15['측정연도']=pm15['측정일시'].apply(lambda x : str(x)[:4])

pm15['측정월']=pm15['측정일시'].apply(lambda x : str(x)[4:6])

pm15['측정일']=pm15['측정일시'].apply(lambda x : str(x)[6:8])

pm15['측정시']=pm15['측정일시'].apply(lambda x : str(x)[8:])

pm15=pm15[pm15["시"]=="서울"]

pm15['분기']=3

In [207]:
pm16=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-8.xlsx")

In [208]:
pm16['시']=pm16['지역'].apply(lambda x : x[:2])

pm16['구']=pm16['지역'].apply(lambda x : x[3:6])

pm16['측정연도']=pm16['측정일시'].apply(lambda x : str(x)[:4])

pm16['측정월']=pm16['측정일시'].apply(lambda x : str(x)[4:6])

pm16['측정일']=pm16['측정일시'].apply(lambda x : str(x)[6:8])

pm16['측정시']=pm16['측정일시'].apply(lambda x : str(x)[8:])

pm16=pm16[pm16["시"]=="서울"]

pm16['분기']=3

In [209]:
pm17=pd.read_excel("C:\\Users\\1-10\\Desktop\\미세먼지\\2019\\2019-9.xlsx")

In [210]:
pm17['시']=pm17['지역'].apply(lambda x : x[:2])

pm17['구']=pm17['지역'].apply(lambda x : x[3:6])

pm17['측정연도']=pm17['측정일시'].apply(lambda x : str(x)[:4])

pm17['측정월']=pm17['측정일시'].apply(lambda x : str(x)[4:6])

pm17['측정일']=pm17['측정일시'].apply(lambda x : str(x)[6:8])

pm17['측정시']=pm17['측정일시'].apply(lambda x : str(x)[8:])

pm17=pm17[pm17["시"]=="서울"]

pm17['분기']=3

In [211]:
df3=pd.concat([pm9,pm10,pm11,pm12,pm13,pm14,pm15,pm16,pm17], sort=True)

In [212]:
df3

,CO,NO2,O3,PM10,PM25,SO2,구,망,분기,시,주소,지역,측정소명,측정소코드,측정시,측정연도,측정월,측정일,측정일시
0,0.7,0.054,0.003,39.0,24.0,0.003,중구,도시대기,1,서울,서울특별시 중구 덕수궁길 15,서울 중구,중구,111121,01,2019,01,01,2019010101
1,0.8,0.056,0.002,38.0,27.0,0.003,중구,도시대기,1,서울,서울특별시 중구 덕수궁길 15,서울 중구,중구,111121,02,2019,01,01,2019010102
2,0.9,0.057,0.002,42.0,28.0,0.003,중구,도시대기,1,서울,서울특별시 중구 덕수궁길 15,서울 중구,중구,111121,03,2019,01,01,2019010103
3,0.8,0.054,0.002,42.0,31.0,0.003,중구,도시대기,1,서울,서울특별시 중구 덕수궁길 15,서울 중구,중구,111121,04,2019,01,01,2019010104
4,0.8,0.048,0.002,49.0,33.0,0.003,중구,도시대기,1,서울,서울특별시 중구 덕수궁길 15,서울 중구,중구,111121,05,2019,01,01,2019010105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28795,0.8,0.084,0.008,55.0,32.0,0.004,노원구,도로변대기,3,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,20,2019,09,30,2019093020
28796,0.7,0.076,0.005,58.0,32.0,0.004,노원구,도로변대기,3,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,21,2019,09,30,2019093021
28797,0.7,0.070,0.005,55.0,30.0,0.004,노원구,도로변대기,3,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,22,2019,09,30,2019093022
28798,0.6,0.066,0.005,60.0,33.0,0.004,노원구,도로변대기,3,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,23,2019,09,30,2019093023
28799,0.6,0.059,0.006,59.0,33.0,0.004,노원구,도로변대기,3,서울,서울 노원구 화랑로 429,서울 노원구,화랑로,111312,24,2019,09,30,2019093024

In [213]:
df3=df3.groupby(['측정연도','구','측정월','분기']).sum()

In [214]:
df3

                     CO     NO2      O3      PM10     PM25    SO2      측정소코드  \
측정연도 구   측정월 분기
2019 강남구 01  1   1283.6  52.761  14.307   97197.0  60323.0  7.857  165557856
         02  1   1249.0  54.804  23.559   99657.0  64092.0  8.765  197601312
         03  1   1006.3  49.862  31.468  100712.0  70198.0  7.406  165557856
         04  2    709.6  44.648  31.615   59806.0  31120.0  6.623  160217280
         05  2    652.7  41.492  52.665   77761.0  43455.0  7.784  165557856
...                 ...     ...     ...       ...      ...    ...        ...
     중랑구 05  2    297.2  16.647  32.496   30953.0  19914.0  4.988   82696344
         06  2    243.7  12.198  27.149   14759.0  12731.0  4.030   80028720
         07  3    239.7  10.990  18.183   16027.0  12267.0  4.182   82696344
         08  3    264.8  10.687  19.853   15466.0  11092.0  4.193   82696344
         09  3    208.2   6.054  10.948    6621.0   4053.0  2.543   80028720

                          측정일시
측정연도 구   측정월 분기
2019 강남구 01  1   3004289279400
         02  1   3585781707000
         03  1   3004319039400
         04  2   2907419850000
         05  2   3004348799400
...                        ...
     중랑구 05  2   1502174399700
         06  2   1453724325000
         07  3   1502189279700
         08  3   1502196719700
         09  3   1453745925000

[233 rows x 8 columns]

In [219]:
df4=pd.concat([df,df2,df3], sort=True)

In [238]:
df4.drop(['측정소코드','측정일시'],axis=1)

                    CO     NO2      O3     PM10     PM25    SO2
측정연도 구   측정월 분기
2017 강남구 01  1   971.9  51.941  16.635  83094.0  23218.0  7.611
         02  1   898.5  49.382  19.518  64932.0  18591.0  7.076
         03  1   893.7  60.692  27.713  83257.0  25348.0  8.347
         04  2   772.1  51.090  38.371  84070.0  17283.0  7.897
         05  2   622.8  43.422  43.983  94676.0  16829.0  7.822
...                ...     ...     ...      ...      ...    ...
2019 중랑구 05  2   297.2  16.647  32.496  30953.0  19914.0  4.988
         06  2   243.7  12.198  27.149  14759.0  12731.0  4.030
         07  3   239.7  10.990  18.183  16027.0  12267.0  4.182
         08  3   264.8  10.687  19.853  15466.0  11092.0  4.193
         09  3   208.2   6.054  10.948   6621.0   4053.0  2.543

[881 rows x 6 columns]

In [257]:
df4

                    CO     NO2      O3     PM10     PM25    SO2      측정소코드  \
측정연도 구   측정월 분기
2017 강남구 01  1   971.9  51.941  16.635  83094.0  23218.0  7.611  165557856
         02  1   898.5  49.382  19.518  64932.0  18591.0  7.076  149536128
         03  1   893.7  60.692  27.713  83257.0  25348.0  8.347  165557856
         04  2   772.1  51.090  38.371  84070.0  17283.0  7.897  160217280
         05  2   622.8  43.422  43.983  94676.0  16829.0  7.822  165557856
...                ...     ...     ...      ...      ...    ...        ...
2019 중랑구 05  2   297.2  16.647  32.496  30953.0  19914.0  4.988   82696344
         06  2   243.7  12.198  27.149  14759.0  12731.0  4.030   80028720
         07  3   239.7  10.990  18.183  16027.0  12267.0  4.182   82696344
         08  3   264.8  10.687  19.853  15466.0  11092.0  4.193   82696344
         09  3   208.2   6.054  10.948   6621.0   4053.0  2.543   80028720

                          측정일시
측정연도 구   측정월 분기
2017 강남구 01  1   3001313279400
         02  1   2710876845600
         03  1   3001343039400
         04  2   2904539850000
         05  2   3001372799400
...                        ...
2019 중랑구 05  2   1502174399700
         06  2   1453724325000
         07  3   1502189279700
         08  3   1502196719700
         09  3   1453745925000

[881 rows x 8 columns]

In [259]:
w=pd.read_csv("C:\\Users\\1-10\\Desktop\\미세먼지\\기상2017.csv",encoding = 'CP949')
w.head()

    지점 지점명       일시  평균기온(°C)  월합강수량(00~24h만)(mm)  평균풍속(m/s)
0  108  서울  2017-01      -1.8                14.9        2.3
1  108  서울  2017-02      -0.2                11.1        2.4
2  108  서울  2017-03       6.3                 7.9        2.4
3  108  서울  2017-04      13.9                61.6        2.6
4  108  서울  2017-05      19.5                16.1        2.4